In [33]:
import pandas as pd
import requests
import textwrap
from time import sleep
import json
import xlsxwriter
import os
from openpyxl import workbook, load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import numpy as np
import IPython

In [3]:
key = '593ff23df30236471e2bd1165031f208ce43d9f4'

### Variables for API Calls

Assigning all the variables for each call to a python variable to be inserterted in the 
API call as a string.

In [4]:
total_all = ('NAME,PCT12_001N')

male_all_0 = ('NAME,PCT12_002N,PCT12_003N,PCT12_004N,PCT12_005N,PCT12_006N,'
              'PCT12_007N,PCT12_008N,PCT12_009N,PCT12_010N,PCT12_011N,'
              'PCT12_012N,PCT12_013N,PCT12_014N,PCT12_015N,PCT12_016N,'
              'PCT12_017N,PCT12_018N,PCT12_019N,PCT12_020N,PCT12_021N,'
              'PCT12_022N,PCT12_023N,PCT12_024N,PCT12_025N,PCT12_026N,'
              'PCT12_027N,PCT12_028N,PCT12_029N,PCT12_030N,PCT12_031N,'
              'PCT12_032N,PCT12_033N,PCT12_034N,PCT12_035N,PCT12_036N,'
              'PCT12_037N,PCT12_038N,PCT12_039N,PCT12_040N,PCT12_041N,'
              'PCT12_042N,PCT12_043N,PCT12_044N,PCT12_045N,PCT12_046N,'
              'PCT12_047N,PCT12_048N,PCT12_049N,PCT12_050N')

male_all_1 = ('NAME,PCT12_051N,PCT12_052N,PCT12_053N,PCT12_054N,PCT12_055N,'
              'PCT12_056N,PCT12_057N,PCT12_058N,PCT12_059N,PCT12_060N,'
              'PCT12_061N,PCT12_062N,PCT12_063N,PCT12_064N,PCT12_065N,'
              'PCT12_066N,PCT12_067N,PCT12_068N,PCT12_069N,PCT12_070N,'
              'PCT12_071N,PCT12_072N,PCT12_073N,PCT12_074N,PCT12_075N,'
              'PCT12_076N,PCT12_077N,PCT12_078N,PCT12_079N,PCT12_080N,'
              'PCT12_081N,PCT12_082N,PCT12_083N,PCT12_084N,PCT12_085N,'
              'PCT12_086N,PCT12_087N,PCT12_088N,PCT12_089N,PCT12_090N,'
              'PCT12_091N,PCT12_092N,PCT12_093N,PCT12_094N,PCT12_095N,'
              'PCT12_096N,PCT12_097N,PCT12_098N,PCT12_099N')

male_all_2 = ('NAME,PCT12_100N,PCT12_101N,PCT12_102N,PCT12_103N,PCT12_104N,'
              'PCT12_105N')

female_all_0 = ('NAME,PCT12_106N,PCT12_107N,PCT12_108N,PCT12_109N,PCT12_110N,'
                'PCT12_111N,PCT12_112N,PCT12_113N,PCT12_114N,PCT12_115N,'
                'PCT12_116N,PCT12_117N,PCT12_118N,PCT12_119N,PCT12_120N,'
                'PCT12_121N,PCT12_122N,PCT12_123N,PCT12_124N,PCT12_125N,'
                'PCT12_126N,PCT12_127N,PCT12_128N,PCT12_129N,PCT12_130N,'
                'PCT12_131N,PCT12_132N,PCT12_133N,PCT12_134N,PCT12_135N,'
                'PCT12_136N,PCT12_137N,PCT12_138N,PCT12_139N,PCT12_140N,'
                'PCT12_141N,PCT12_142N,PCT12_143N,PCT12_144N,PCT12_145N,'
                'PCT12_146N,PCT12_147N,PCT12_148N,PCT12_149N,PCT12_150N,'
                'PCT12_151N,PCT12_152N,PCT12_153N,PCT12_154N')

female_all_1 = ('NAME,PCT12_155N,PCT12_156N,PCT12_157N,PCT12_158N,PCT12_159N,'
                'PCT12_160N,PCT12_161N,PCT12_162N,PCT12_163N,PCT12_164N,'
                'PCT12_165N,PCT12_166N,PCT12_167N,PCT12_168N,PCT12_169N,'
                'PCT12_170N,PCT12_171N,PCT12_172N,PCT12_173N,PCT12_174N,'
                'PCT12_175N,PCT12_176N,PCT12_177N,PCT12_178N,PCT12_179N,'
                'PCT12_180N,PCT12_181N,PCT12_182N,PCT12_183N,PCT12_184N,'
                'PCT12_185N,PCT12_186N,PCT12_187N,PCT12_188N,PCT12_189N,'
                'PCT12_190N,PCT12_191N,PCT12_192N,PCT12_193N,PCT12_194N,'
                'PCT12_195N,PCT12_196N,PCT12_197N,PCT12_198N,PCT12_199N,'
                'PCT12_200N,PCT12_201N,PCT12_202N,PCT12_203N')

female_all_2 = ('NAME,PCT12_204N,PCT12_205N,PCT12_206N,PCT12_207N,PCT12_208N,'
                'PCT12_209N')

total_whi = ('NAME,PCT12A_001N')

total_male_whi_0 = ('NAME,PCT12A_002N,PCT12A_003N,PCT12A_004N,PCT12A_005N,'
                    'PCT12A_006N,PCT12A_007N,PCT12A_008N,PCT12A_009N,'
                    'PCT12A_010N,PCT12A_011N,PCT12A_012N,PCT12A_013N,'
                    'PCT12A_014N,PCT12A_015N,PCT12A_016N,PCT12A_017N,'
                    'PCT12A_018N,PCT12A_019N,PCT12A_020N,PCT12A_021N,'
                    'PCT12A_022N,PCT12A_023N,PCT12A_024N,PCT12A_025N,'
                    'PCT12A_026N,PCT12A_027N,PCT12A_028N,PCT12A_029N,'
                    'PCT12A_030N,PCT12A_031N,PCT12A_032N,PCT12A_033N,'
                    'PCT12A_034N,PCT12A_035N,PCT12A_036N,PCT12A_037N,'
                    'PCT12A_038N,PCT12A_039N,PCT12A_040N,PCT12A_041N,'
                    'PCT12A_042N,PCT12A_043N,PCT12A_044N,PCT12A_045N,'
                    'PCT12A_046N,PCT12A_047N,PCT12A_048N,PCT12A_049N,'
                    'PCT12A_050N')

total_male_whi_1 = ('NAME,PCT12A_051N,PCT12A_052N,PCT12A_053N,PCT12A_054N,'
                    'PCT12A_055N,PCT12A_056N,PCT12A_057N,PCT12A_058N,'
                    'PCT12A_059N,PCT12A_060N,PCT12A_061N,PCT12A_062N,'
                    'PCT12A_063N,PCT12A_064N,PCT12A_065N,PCT12A_066N,'
                    'PCT12A_067N,PCT12A_068N,PCT12A_069N,PCT12A_070N,'
                    'PCT12A_071N,PCT12A_072N,PCT12A_073N,PCT12A_074N,'
                    'PCT12A_075N,PCT12A_076N,PCT12A_077N,PCT12A_078N,'
                    'PCT12A_079N,PCT12A_080N,PCT12A_081N,PCT12A_082N,'
                    'PCT12A_083N,PCT12A_084N,PCT12A_085N,PCT12A_086N,'
                    'PCT12A_087N,PCT12A_088N,PCT12A_089N,PCT12A_090N,'
                    'PCT12A_091N,PCT12A_092N,PCT12A_093N,PCT12A_094N,'
                    'PCT12A_095N,PCT12A_096N,PCT12A_097N,PCT12A_098N,'
                    'PCT12A_099N')

total_male_whi_2 = ('NAME,PCT12A_100N,PCT12A_101N,PCT12A_102N,PCT12A_103N,'
                    'PCT12A_104N,PCT12A_105N')

total_female_whi_0 = ('NAME,PCT12A_106N,PCT12A_107N,PCT12A_108N,PCT12A_109N,'
                      'PCT12A_110N,PCT12A_111N,PCT12A_112N,PCT12A_113N,'
                      'PCT12A_114N,PCT12A_115N,PCT12A_116N,PCT12A_117N,'
                      'PCT12A_118N,PCT12A_119N,PCT12A_120N,PCT12A_121N,'
                      'PCT12A_122N,PCT12A_123N,PCT12A_124N,PCT12A_125N,'
                      'PCT12A_126N,PCT12A_127N,PCT12A_128N,PCT12A_129N,'
                      'PCT12A_130N,PCT12A_131N,PCT12A_132N,PCT12A_133N,'
                      'PCT12A_134N,PCT12A_135N,PCT12A_136N,PCT12A_137N,'
                      'PCT12A_138N,PCT12A_139N,PCT12A_140N,PCT12A_141N,'
                      'PCT12A_142N,PCT12A_143N,PCT12A_144N,PCT12A_145N,'
                      'PCT12A_146N,PCT12A_147N,PCT12A_148N,PCT12A_149N,'
                      'PCT12A_150N,PCT12A_151N,PCT12A_152N,PCT12A_153N,'
                      'PCT12A_154N')

total_female_whi_1 = ('NAME,PCT12A_155N,PCT12A_156N,PCT12A_157N,PCT12A_158N,'
                      'PCT12A_159N,PCT12A_160N,PCT12A_161N,PCT12A_162N,'
                      'PCT12A_163N,PCT12A_164N,PCT12A_165N,PCT12A_166N,'
                      'PCT12A_167N,PCT12A_168N,PCT12A_169N,PCT12A_170N,'
                      'PCT12A_171N,PCT12A_172N,PCT12A_173N,PCT12A_174N,'
                      'PCT12A_175N,PCT12A_176N,PCT12A_177N,PCT12A_178N,'
                      'PCT12A_179N,PCT12A_180N,PCT12A_181N,PCT12A_182N,'
                      'PCT12A_183N,PCT12A_184N,PCT12A_185N,PCT12A_186N,'
                      'PCT12A_187N,PCT12A_188N,PCT12A_189N,PCT12A_190N,'
                      'PCT12A_191N,PCT12A_192N,PCT12A_193N,PCT12A_194N,'
                      'PCT12A_195N,PCT12A_196N,PCT12A_197N,PCT12A_198N,'
                      'PCT12A_199N,PCT12A_200N,PCT12A_201N,PCT12A_202N,'
                      'PCT12A_203N')

total_female_whi_2 = ('NAME,PCT12A_204N,PCT12A_205N,PCT12A_206N,PCT12A_207N,'
                      'PCT12A_208N,PCT12A_209N')

total_baa = ('NAME,PCT12B_001N')

total_male_baa_0 = ('NAME,PCT12B_002N,PCT12B_003N,PCT12B_004N,PCT12B_005N,'
                    'PCT12B_006N,PCT12B_007N,PCT12B_008N,PCT12B_009N,'
                    'PCT12B_010N,PCT12B_011N,PCT12B_012N,PCT12B_013N,'
                    'PCT12B_014N,PCT12B_015N,PCT12B_016N,PCT12B_017N,'
                    'PCT12B_018N,PCT12B_019N,PCT12B_020N,PCT12B_021N,'
                    'PCT12B_022N,PCT12B_023N,PCT12B_024N,PCT12B_025N,'
                    'PCT12B_026N,PCT12B_027N,PCT12B_028N,PCT12B_029N,'
                    'PCT12B_030N,PCT12B_031N,PCT12B_032N,PCT12B_033N,'
                    'PCT12B_034N,PCT12B_035N,PCT12B_036N,PCT12B_037N,'
                    'PCT12B_038N,PCT12B_039N,PCT12B_040N,PCT12B_041N,'
                    'PCT12B_042N,PCT12B_043N,PCT12B_044N,PCT12B_045N,'
                    'PCT12B_046N,PCT12B_047N,PCT12B_048N,PCT12B_049N,'
                    'PCT12B_050N')

total_male_baa_1 = ('NAME,PCT12B_051N,PCT12B_052N,PCT12B_053N,PCT12B_054N,'
                    'PCT12B_055N,PCT12B_056N,PCT12B_057N,PCT12B_058N,'
                    'PCT12B_059N,PCT12B_060N,PCT12B_061N,PCT12B_062N,'
                    'PCT12B_063N,PCT12B_064N,PCT12B_065N,PCT12B_066N,'
                    'PCT12B_067N,PCT12B_068N,PCT12B_069N,PCT12B_070N,'
                    'PCT12B_071N,PCT12B_072N,PCT12B_073N,PCT12B_074N,'
                    'PCT12B_075N,PCT12B_076N,PCT12B_077N,PCT12B_078N,'
                    'PCT12B_079N,PCT12B_080N,PCT12B_081N,PCT12B_082N,'
                    'PCT12B_083N,PCT12B_084N,PCT12B_085N,PCT12B_086N,'
                    'PCT12B_087N,PCT12B_088N,PCT12B_089N,PCT12B_090N,'
                    'PCT12B_091N,PCT12B_092N,PCT12B_093N,PCT12B_094N,'
                    'PCT12B_095N,PCT12B_096N,PCT12B_097N,PCT12B_098N,'
                    'PCT12B_099N')

total_male_baa_2 = ('NAME,PCT12B_100N,PCT12B_101N,PCT12B_102N,PCT12B_103N,'
                    'PCT12B_104N,PCT12B_105N')

total_female_baa_0 = ('NAME,PCT12B_106N,PCT12B_107N,PCT12B_108N,PCT12B_109N,'
                      'PCT12B_110N,PCT12B_111N,PCT12B_112N,PCT12B_113N,'
                      'PCT12B_114N,PCT12B_115N,PCT12B_116N,PCT12B_117N,'
                      'PCT12B_118N,PCT12B_119N,PCT12B_120N,PCT12B_121N,'
                      'PCT12B_122N,PCT12B_123N,PCT12B_124N,PCT12B_125N,'
                      'PCT12B_126N,PCT12B_127N,PCT12B_128N,PCT12B_129N,'
                      'PCT12B_130N,PCT12B_131N,PCT12B_132N,PCT12B_133N,'
                      'PCT12B_134N,PCT12B_135N,PCT12B_136N,PCT12B_137N,'
                      'PCT12B_138N,PCT12B_139N,PCT12B_140N,PCT12B_141N,'
                      'PCT12B_142N,PCT12B_143N,PCT12B_144N,PCT12B_145N,'
                      'PCT12B_146N,PCT12B_147N,PCT12B_148N,PCT12B_149N,'
                      'PCT12B_150N,PCT12B_151N,PCT12B_152N,PCT12B_153N,'
                      'PCT12B_154N')

total_female_baa_1 = ('NAME,PCT12B_155N,PCT12B_156N,PCT12B_157N,PCT12B_158N,'
                      'PCT12B_159N,PCT12B_160N,PCT12B_161N,PCT12B_162N,'
                      'PCT12B_163N,PCT12B_164N,PCT12B_165N,PCT12B_166N,'
                      'PCT12B_167N,PCT12B_168N,PCT12B_169N,PCT12B_170N,'
                      'PCT12B_171N,PCT12B_172N,PCT12B_173N,PCT12B_174N,'
                      'PCT12B_175N,PCT12B_176N,PCT12B_177N,PCT12B_178N,'
                      'PCT12B_179N,PCT12B_180N,PCT12B_181N,PCT12B_182N,'
                      'PCT12B_183N,PCT12B_184N,PCT12B_185N,PCT12B_186N,'
                      'PCT12B_187N,PCT12B_188N,PCT12B_189N,PCT12B_190N,'
                      'PCT12B_191N,PCT12B_192N,PCT12B_193N,PCT12B_194N,'
                      'PCT12B_195N,PCT12B_196N,PCT12B_197N,PCT12B_198N,'
                      'PCT12B_199N,PCT12B_200N,PCT12B_201N,PCT12B_202N,'
                      'PCT12B_203N')

total_female_baa_2 = ('NAME,PCT12B_204N,PCT12B_205N,PCT12B_206N,PCT12B_207N,'
                      'PCT12B_208N,PCT12B_209N')

total_aian = ('NAME,PCT12C_001N')

total_male_aian_0 = ('NAME,PCT12C_002N,PCT12C_003N,PCT12C_004N,PCT12C_005N,'
                     'PCT12C_006N,PCT12C_007N,PCT12C_008N,PCT12C_009N,'
                     'PCT12C_010N,PCT12C_011N,PCT12C_012N,PCT12C_013N,'
                     'PCT12C_014N,PCT12C_015N,PCT12C_016N,PCT12C_017N,'
                     'PCT12C_018N,PCT12C_019N,PCT12C_020N,PCT12C_021N,'
                     'PCT12C_022N,PCT12C_023N,PCT12C_024N,PCT12C_025N,'
                     'PCT12C_026N,PCT12C_027N,PCT12C_028N,PCT12C_029N,'
                     'PCT12C_030N,PCT12C_031N,PCT12C_032N,PCT12C_033N,'
                     'PCT12C_034N,PCT12C_035N,PCT12C_036N,PCT12C_037N,'
                     'PCT12C_038N,PCT12C_039N,PCT12C_040N,PCT12C_041N,'
                     'PCT12C_042N,PCT12C_043N,PCT12C_044N,PCT12C_045N,'
                     'PCT12C_046N,PCT12C_047N,PCT12C_048N,PCT12C_049N,'
                     'PCT12C_050N')

total_male_aian_1 = ('NAME,PCT12C_051N,PCT12C_052N,PCT12C_053N,PCT12C_054N,'
                     'PCT12C_055N,PCT12C_056N,PCT12C_057N,PCT12C_058N,'
                     'PCT12C_059N,PCT12C_060N,PCT12C_061N,PCT12C_062N,'
                     'PCT12C_063N,PCT12C_064N,PCT12C_065N,PCT12C_066N,'
                     'PCT12C_067N,PCT12C_068N,PCT12C_069N,PCT12C_070N,'
                     'PCT12C_071N,PCT12C_072N,PCT12C_073N,PCT12C_074N,'
                     'PCT12C_075N,PCT12C_076N,PCT12C_077N,PCT12C_078N,'
                     'PCT12C_079N,PCT12C_080N,PCT12C_081N,PCT12C_082N,'
                     'PCT12C_083N,PCT12C_084N,PCT12C_085N,PCT12C_086N,'
                     'PCT12C_087N,PCT12C_088N,PCT12C_089N,PCT12C_090N,'
                     'PCT12C_091N,PCT12C_092N,PCT12C_093N,PCT12C_094N,'
                     'PCT12C_095N,PCT12C_096N,PCT12C_097N,PCT12C_098N,'
                     'PCT12C_099N')

total_male_aian_2 = ('NAME,PCT12C_100N,PCT12C_101N,PCT12C_102N,PCT12C_103N,'
                     'PCT12C_104N,PCT12C_105N')

total_female_aian_0 = ('NAME,PCT12C_106N,PCT12C_107N,PCT12C_108N,PCT12C_109N,'
                       'PCT12C_110N,PCT12C_111N,PCT12C_112N,PCT12C_113N,'
                       'PCT12C_114N,PCT12C_115N,PCT12C_116N,PCT12C_117N,'
                       'PCT12C_118N,PCT12C_119N,PCT12C_120N,PCT12C_121N,'
                       'PCT12C_122N,PCT12C_123N,PCT12C_124N,PCT12C_125N,'
                       'PCT12C_126N,PCT12C_127N,PCT12C_128N,PCT12C_129N,'
                       'PCT12C_130N,PCT12C_131N,PCT12C_132N,PCT12C_133N,'
                       'PCT12C_134N,PCT12C_135N,PCT12C_136N,PCT12C_137N,'
                       'PCT12C_138N,PCT12C_139N,PCT12C_140N,PCT12C_141N,'
                       'PCT12C_142N,PCT12C_143N,PCT12C_144N,PCT12C_145N,'
                       'PCT12C_146N,PCT12C_147N,PCT12C_148N,PCT12C_149N,'
                       'PCT12C_150N,PCT12C_151N,PCT12C_152N,PCT12C_153N,'
                       'PCT12C_154N')

total_female_aian_1 = ('NAME,PCT12C_155N,PCT12C_156N,PCT12C_157N,PCT12C_158N,'
                       'PCT12C_159N,PCT12C_160N,PCT12C_161N,PCT12C_162N,'
                       'PCT12C_163N,PCT12C_164N,PCT12C_165N,PCT12C_166N,'
                       'PCT12C_167N,PCT12C_168N,PCT12C_169N,PCT12C_170N,'
                       'PCT12C_171N,PCT12C_172N,PCT12C_173N,PCT12C_174N,'
                       'PCT12C_175N,PCT12C_176N,PCT12C_177N,PCT12C_178N,'
                       'PCT12C_179N,PCT12C_180N,PCT12C_181N,PCT12C_182N,'
                       'PCT12C_183N,PCT12C_184N,PCT12C_185N,PCT12C_186N,'
                       'PCT12C_187N,PCT12C_188N,PCT12C_189N,PCT12C_190N,'
                       'PCT12C_191N,PCT12C_192N,PCT12C_193N,PCT12C_194N,'
                       'PCT12C_195N,PCT12C_196N,PCT12C_197N,PCT12C_198N,'
                       'PCT12C_199N,PCT12C_200N,PCT12C_201N,PCT12C_202N,'
                       'PCT12C_203N')

total_female_aian_2 = ('NAME,PCT12C_204N,PCT12C_205N,PCT12C_206N,PCT12C_207N,'
                       'PCT12C_208N,PCT12C_209N')

total_aa = ('NAME,PCT12D_001N')

total_male_aa_0 = ('NAME,PCT12D_002N,PCT12D_003N,PCT12D_004N,PCT12D_005N,'
                   'PCT12D_006N,PCT12D_007N,PCT12D_008N,PCT12D_009N,'
                   'PCT12D_010N,PCT12D_011N,PCT12D_012N,PCT12D_013N,'
                   'PCT12D_014N,PCT12D_015N,PCT12D_016N,PCT12D_017N,'
                   'PCT12D_018N,PCT12D_019N,PCT12D_020N,PCT12D_021N,'
                   'PCT12D_022N,PCT12D_023N,PCT12D_024N,PCT12D_025N,'
                   'PCT12D_026N,PCT12D_027N,PCT12D_028N,PCT12D_029N,'
                   'PCT12D_030N,PCT12D_031N,PCT12D_032N,PCT12D_033N,'
                   'PCT12D_034N,PCT12D_035N,PCT12D_036N,PCT12D_037N,'
                   'PCT12D_038N,PCT12D_039N,PCT12D_040N,PCT12D_041N,'
                   'PCT12D_042N,PCT12D_043N,PCT12D_044N,PCT12D_045N,'
                   'PCT12D_046N,PCT12D_047N,PCT12D_048N,PCT12D_049N,'
                   'PCT12D_050N')

total_male_aa_1 = ('NAME,PCT12D_051N,PCT12D_052N,PCT12D_053N,PCT12D_054N,'
                   'PCT12D_055N,PCT12D_056N,PCT12D_057N,PCT12D_058N,'
                   'PCT12D_059N,PCT12D_060N,PCT12D_061N,PCT12D_062N,'
                   'PCT12D_063N,PCT12D_064N,PCT12D_065N,PCT12D_066N,'
                   'PCT12D_067N,PCT12D_068N,PCT12D_069N,PCT12D_070N,'
                   'PCT12D_071N,PCT12D_072N,PCT12D_073N,PCT12D_074N,'
                   'PCT12D_075N,PCT12D_076N,PCT12D_077N,PCT12D_078N,'
                   'PCT12D_079N,PCT12D_080N,PCT12D_081N,PCT12D_082N,'
                   'PCT12D_083N,PCT12D_084N,PCT12D_085N,PCT12D_086N,'
                   'PCT12D_087N,PCT12D_088N,PCT12D_089N,PCT12D_090N,'
                   'PCT12D_091N,PCT12D_092N,PCT12D_093N,PCT12D_094N,'
                   'PCT12D_095N,PCT12D_096N,PCT12D_097N,PCT12D_098N,'
                   'PCT12D_099N')

total_male_aa_2 = ('NAME,PCT12D_100N,PCT12D_101N,PCT12D_102N,PCT12D_103N,'
                   'PCT12D_104N,PCT12D_105N')

total_female_aa_0 = ('NAME,PCT12D_106N,PCT12D_107N,PCT12D_108N,PCT12D_109N,'
                     'PCT12D_110N,PCT12D_111N,PCT12D_112N,PCT12D_113N,'
                     'PCT12D_114N,PCT12D_115N,PCT12D_116N,PCT12D_117N,'
                     'PCT12D_118N,PCT12D_119N,PCT12D_120N,PCT12D_121N,'
                     'PCT12D_122N,PCT12D_123N,PCT12D_124N,PCT12D_125N,'
                     'PCT12D_126N,PCT12D_127N,PCT12D_128N,PCT12D_129N,'
                     'PCT12D_130N,PCT12D_131N,PCT12D_132N,PCT12D_133N,'
                     'PCT12D_134N,PCT12D_135N,PCT12D_136N,PCT12D_137N,'
                     'PCT12D_138N,PCT12D_139N,PCT12D_140N,PCT12D_141N,'
                     'PCT12D_142N,PCT12D_143N,PCT12D_144N,PCT12D_145N,'
                     'PCT12D_146N,PCT12D_147N,PCT12D_148N,PCT12D_149N,'
                     'PCT12D_150N,PCT12D_151N,PCT12D_152N,PCT12D_153N,'
                     'PCT12D_154N')

total_female_aa_1 = ('NAME,PCT12D_155N,PCT12D_156N,PCT12D_157N,PCT12D_158N,'
                     'PCT12D_159N,PCT12D_160N,PCT12D_161N,PCT12D_162N,'
                     'PCT12D_163N,PCT12D_164N,PCT12D_165N,PCT12D_166N,'
                     'PCT12D_167N,PCT12D_168N,PCT12D_169N,PCT12D_170N,'
                     'PCT12D_171N,PCT12D_172N,PCT12D_173N,PCT12D_174N,'
                     'PCT12D_175N,PCT12D_176N,PCT12D_177N,PCT12D_178N,'
                     'PCT12D_179N,PCT12D_180N,PCT12D_181N,PCT12D_182N,'
                     'PCT12D_183N,PCT12D_184N,PCT12D_185N,PCT12D_186N,'
                     'PCT12D_187N,PCT12D_188N,PCT12D_189N,PCT12D_190N,'
                     'PCT12D_191N,PCT12D_192N,PCT12D_193N,PCT12D_194N,'
                     'PCT12D_195N,PCT12D_196N,PCT12D_197N,PCT12D_198N,'
                     'PCT12D_199N,PCT12D_200N,PCT12D_201N,PCT12D_202N,'
                     'PCT12D_203N')

total_female_aa_2 = ('NAME,PCT12D_204N,PCT12D_205N,PCT12D_206N,PCT12D_207N,'
                     'PCT12D_208N,PCT12D_209N')

total_nhop = ('NAME,PCT12E_001N')

total_male_nhop_0 = ('NAME,PCT12E_002N,PCT12E_003N,PCT12E_004N,PCT12E_005N,'
                     'PCT12E_006N,PCT12E_007N,PCT12E_008N,PCT12E_009N,'
                     'PCT12E_010N,PCT12E_011N,PCT12E_012N,PCT12E_013N,'
                     'PCT12E_014N,PCT12E_015N,PCT12E_016N,PCT12E_017N,'
                     'PCT12E_018N,PCT12E_019N,PCT12E_020N,PCT12E_021N,'
                     'PCT12E_022N,PCT12E_023N,PCT12E_024N,PCT12E_025N,'
                     'PCT12E_026N,PCT12E_027N,PCT12E_028N,PCT12E_029N,'
                     'PCT12E_030N,PCT12E_031N,PCT12E_032N,PCT12E_033N,'
                     'PCT12E_034N,PCT12E_035N,PCT12E_036N,PCT12E_037N,'
                     'PCT12E_038N,PCT12E_039N,PCT12E_040N,PCT12E_041N,'
                     'PCT12E_042N,PCT12E_043N,PCT12E_044N,PCT12E_045N,'
                     'PCT12E_046N,PCT12E_047N,PCT12E_048N,PCT12E_049N,'
                     'PCT12E_050N')

total_male_nhop_1 = ('NAME,PCT12E_051N,PCT12E_052N,PCT12E_053N,PCT12E_054N,'
                     'PCT12E_055N,PCT12E_056N,PCT12E_057N,PCT12E_058N,'
                     'PCT12E_059N,PCT12E_060N,PCT12E_061N,PCT12E_062N,'
                     'PCT12E_063N,PCT12E_064N,PCT12E_065N,PCT12E_066N,'
                     'PCT12E_067N,PCT12E_068N,PCT12E_069N,PCT12E_070N,'
                     'PCT12E_071N,PCT12E_072N,PCT12E_073N,PCT12E_074N,'
                     'PCT12E_075N,PCT12E_076N,PCT12E_077N,PCT12E_078N,'
                     'PCT12E_079N,PCT12E_080N,PCT12E_081N,PCT12E_082N,'
                     'PCT12E_083N,PCT12E_084N,PCT12E_085N,PCT12E_086N,'
                     'PCT12E_087N,PCT12E_088N,PCT12E_089N,PCT12E_090N,'
                     'PCT12E_091N,PCT12E_092N,PCT12E_093N,PCT12E_094N,'
                     'PCT12E_095N,PCT12E_096N,PCT12E_097N,PCT12E_098N,'
                     'PCT12E_099N')

total_male_nhop_2 = ('NAME,PCT12E_100N,PCT12E_101N,PCT12E_102N,PCT12E_103N,'
                     'PCT12E_104N,PCT12E_105N')

total_female_nhop_0 = ('NAME,PCT12E_106N,PCT12E_107N,PCT12E_108N,PCT12E_109N,'
                       'PCT12E_110N,PCT12E_111N,PCT12E_112N,PCT12E_113N,'
                       'PCT12E_114N,PCT12E_115N,PCT12E_116N,PCT12E_117N,'
                       'PCT12E_118N,PCT12E_119N,PCT12E_120N,PCT12E_121N,'
                       'PCT12E_122N,PCT12E_123N,PCT12E_124N,PCT12E_125N,'
                       'PCT12E_126N,PCT12E_127N,PCT12E_128N,PCT12E_129N,'
                       'PCT12E_130N,PCT12E_131N,PCT12E_132N,PCT12E_133N,'
                       'PCT12E_134N,PCT12E_135N,PCT12E_136N,PCT12E_137N,'
                       'PCT12E_138N,PCT12E_139N,PCT12E_140N,PCT12E_141N,'
                       'PCT12E_142N,PCT12E_143N,PCT12E_144N,PCT12E_145N,'
                       'PCT12E_146N,PCT12E_147N,PCT12E_148N,PCT12E_149N,'
                       'PCT12E_150N,PCT12E_151N,PCT12E_152N,PCT12E_153N,'
                       'PCT12E_154N')

total_female_nhop_1 = ('NAME,PCT12E_155N,PCT12E_156N,PCT12E_157N,PCT12E_158N,'
                       'PCT12E_159N,PCT12E_160N,PCT12E_161N,PCT12E_162N,'
                       'PCT12E_163N,PCT12E_164N,PCT12E_165N,PCT12E_166N,'
                       'PCT12E_167N,PCT12E_168N,PCT12E_169N,PCT12E_170N,'
                       'PCT12E_171N,PCT12E_172N,PCT12E_173N,PCT12E_174N,'
                       'PCT12E_175N,PCT12E_176N,PCT12E_177N,PCT12E_178N,'
                       'PCT12E_179N,PCT12E_180N,PCT12E_181N,PCT12E_182N,'
                       'PCT12E_183N,PCT12E_184N,PCT12E_185N,PCT12E_186N,'
                       'PCT12E_187N,PCT12E_188N,PCT12E_189N,PCT12E_190N,'
                       'PCT12E_191N,PCT12E_192N,PCT12E_193N,PCT12E_194N,'
                       'PCT12E_195N,PCT12E_196N,PCT12E_197N,PCT12E_198N,'
                       'PCT12E_199N,PCT12E_200N,PCT12E_201N,PCT12E_202N,'
                       'PCT12E_203N')

total_female_nhop_2 = ('NAME,PCT12E_204N,PCT12E_205N,PCT12E_206N,PCT12E_207N,'
                       'PCT12E_208N,PCT12E_209N')

total_sor = ('NAME,PCT12F_001N')

total_male_sor_0 = ('NAME,PCT12F_002N,PCT12F_003N,PCT12F_004N,PCT12F_005N,'
                    'PCT12F_006N,PCT12F_007N,PCT12F_008N,PCT12F_009N,'
                    'PCT12F_010N,PCT12F_011N,PCT12F_012N,PCT12F_013N,'
                    'PCT12F_014N,PCT12F_015N,PCT12F_016N,PCT12F_017N,'
                    'PCT12F_018N,PCT12F_019N,PCT12F_020N,PCT12F_021N,'
                    'PCT12F_022N,PCT12F_023N,PCT12F_024N,PCT12F_025N,'
                    'PCT12F_026N,PCT12F_027N,PCT12F_028N,PCT12F_029N,'
                    'PCT12F_030N,PCT12F_031N,PCT12F_032N,PCT12F_033N,'
                    'PCT12F_034N,PCT12F_035N,PCT12F_036N,PCT12F_037N,'
                    'PCT12F_038N,PCT12F_039N,PCT12F_040N,PCT12F_041N,'
                    'PCT12F_042N,PCT12F_043N,PCT12F_044N,PCT12F_045N,'
                    'PCT12F_046N,PCT12F_047N,PCT12F_048N,PCT12F_049N,'
                    'PCT12F_050N')

total_male_sor_1 = ('NAME,PCT12F_051N,PCT12F_052N,PCT12F_053N,PCT12F_054N,'
                    'PCT12F_055N,PCT12F_056N,PCT12F_057N,PCT12F_058N,'
                    'PCT12F_059N,PCT12F_060N,PCT12F_061N,PCT12F_062N,'
                    'PCT12F_063N,PCT12F_064N,PCT12F_065N,PCT12F_066N,'
                    'PCT12F_067N,PCT12F_068N,PCT12F_069N,PCT12F_070N,'
                    'PCT12F_071N,PCT12F_072N,PCT12F_073N,PCT12F_074N,'
                    'PCT12F_075N,PCT12F_076N,PCT12F_077N,PCT12F_078N,'
                    'PCT12F_079N,PCT12F_080N,PCT12F_081N,PCT12F_082N,'
                    'PCT12F_083N,PCT12F_084N,PCT12F_085N,PCT12F_086N,'
                    'PCT12F_087N,PCT12F_088N,PCT12F_089N,PCT12F_090N,'
                    'PCT12F_091N,PCT12F_092N,PCT12F_093N,PCT12F_094N,'
                    'PCT12F_095N,PCT12F_096N,PCT12F_097N,PCT12F_098N,'
                    'PCT12F_099N')

total_male_sor_2 = ('NAME,PCT12F_100N,PCT12F_101N,PCT12F_102N,PCT12F_103N,'
                    'PCT12F_104N,PCT12F_105N')

total_female_sor_0 = ('NAME,PCT12F_106N,PCT12F_107N,PCT12F_108N,PCT12F_109N,'
                      'PCT12F_110N,PCT12F_111N,PCT12F_112N,PCT12F_113N,'
                      'PCT12F_114N,PCT12F_115N,PCT12F_116N,PCT12F_117N,'
                      'PCT12F_118N,PCT12F_119N,PCT12F_120N,PCT12F_121N,'
                      'PCT12F_122N,PCT12F_123N,PCT12F_124N,PCT12F_125N,'
                      'PCT12F_126N,PCT12F_127N,PCT12F_128N,PCT12F_129N,'
                      'PCT12F_130N,PCT12F_131N,PCT12F_132N,PCT12F_133N,'
                      'PCT12F_134N,PCT12F_135N,PCT12F_136N,PCT12F_137N,'
                      'PCT12F_138N,PCT12F_139N,PCT12F_140N,PCT12F_141N,'
                      'PCT12F_142N,PCT12F_143N,PCT12F_144N,PCT12F_145N,'
                      'PCT12F_146N,PCT12F_147N,PCT12F_148N,PCT12F_149N,'
                      'PCT12F_150N,PCT12F_151N,PCT12F_152N,PCT12F_153N,'
                      'PCT12F_154N')

total_female_sor_1 = ('NAME,PCT12F_155N,PCT12F_156N,PCT12F_157N,PCT12F_158N,'
                      'PCT12F_159N,PCT12F_160N,PCT12F_161N,PCT12F_162N,'
                      'PCT12F_163N,PCT12F_164N,PCT12F_165N,PCT12F_166N,'
                      'PCT12F_167N,PCT12F_168N,PCT12F_169N,PCT12F_170N,'
                      'PCT12F_171N,PCT12F_172N,PCT12F_173N,PCT12F_174N,'
                      'PCT12F_175N,PCT12F_176N,PCT12F_177N,PCT12F_178N,'
                      'PCT12F_179N,PCT12F_180N,PCT12F_181N,PCT12F_182N,'
                      'PCT12F_183N,PCT12F_184N,PCT12F_185N,PCT12F_186N,'
                      'PCT12F_187N,PCT12F_188N,PCT12F_189N,PCT12F_190N,'
                      'PCT12F_191N,PCT12F_192N,PCT12F_193N,PCT12F_194N,'
                      'PCT12F_195N,PCT12F_196N,PCT12F_197N,PCT12F_198N,'
                      'PCT12F_199N,PCT12F_200N,PCT12F_201N,PCT12F_202N,'
                      'PCT12F_203N')

total_female_sor_2 = ('NAME,PCT12F_204N,PCT12F_205N,PCT12F_206N,PCT12F_207N,'
                      'PCT12F_208N,PCT12F_209N')

total_tom = ('NAME,PCT12G_001N')

total_male_tom_0 = ('NAME,PCT12G_002N,PCT12G_003N,PCT12G_004N,PCT12G_005N,'
                    'PCT12G_006N,PCT12G_007N,PCT12G_008N,PCT12G_009N,'
                    'PCT12G_010N,PCT12G_011N,PCT12G_012N,PCT12G_013N,'
                    'PCT12G_014N,PCT12G_015N,PCT12G_016N,PCT12G_017N,'
                    'PCT12G_018N,PCT12G_019N,PCT12G_020N,PCT12G_021N,'
                    'PCT12G_022N,PCT12G_023N,PCT12G_024N,PCT12G_025N,'
                    'PCT12G_026N,PCT12G_027N,PCT12G_028N,PCT12G_029N,'
                    'PCT12G_030N,PCT12G_031N,PCT12G_032N,PCT12G_033N,'
                    'PCT12G_034N,PCT12G_035N,PCT12G_036N,PCT12G_037N,'
                    'PCT12G_038N,PCT12G_039N,PCT12G_040N,PCT12G_041N,'
                    'PCT12G_042N,PCT12G_043N,PCT12G_044N,PCT12G_045N,'
                    'PCT12G_046N,PCT12G_047N,PCT12G_048N,PCT12G_049N,'
                    'PCT12G_050N')

total_male_tom_1 = ('NAME,PCT12G_051N,PCT12G_052N,PCT12G_053N,PCT12G_054N,'
                    'PCT12G_055N,PCT12G_056N,PCT12G_057N,PCT12G_058N,'
                    'PCT12G_059N,PCT12G_060N,PCT12G_061N,PCT12G_062N,'
                    'PCT12G_063N,PCT12G_064N,PCT12G_065N,PCT12G_066N,'
                    'PCT12G_067N,PCT12G_068N,PCT12G_069N,PCT12G_070N,'
                    'PCT12G_071N,PCT12G_072N,PCT12G_073N,PCT12G_074N,'
                    'PCT12G_075N,PCT12G_076N,PCT12G_077N,PCT12G_078N,'
                    'PCT12G_079N,PCT12G_080N,PCT12G_081N,PCT12G_082N,'
                    'PCT12G_083N,PCT12G_084N,PCT12G_085N,PCT12G_086N,'
                    'PCT12G_087N,PCT12G_088N,PCT12G_089N,PCT12G_090N,'
                    'PCT12G_091N,PCT12G_092N,PCT12G_093N,PCT12G_094N,'
                    'PCT12G_095N,PCT12G_096N,PCT12G_097N,PCT12G_098N,'
                    'PCT12G_099N')

total_male_tom_2 = ('NAME,PCT12G_100N,PCT12G_101N,PCT12G_102N,PCT12G_103N,'
                    'PCT12G_104N,PCT12G_105N')

total_female_tom_0 = ('NAME,PCT12G_106N,PCT12G_107N,PCT12G_108N,PCT12G_109N,'
                      'PCT12G_110N,PCT12G_111N,PCT12G_112N,PCT12G_113N,'
                      'PCT12G_114N,PCT12G_115N,PCT12G_116N,PCT12G_117N,'
                      'PCT12G_118N,PCT12G_119N,PCT12G_120N,PCT12G_121N,'
                      'PCT12G_122N,PCT12G_123N,PCT12G_124N,PCT12G_125N,'
                      'PCT12G_126N,PCT12G_127N,PCT12G_128N,PCT12G_129N,'
                      'PCT12G_130N,PCT12G_131N,PCT12G_132N,PCT12G_133N,'
                      'PCT12G_134N,PCT12G_135N,PCT12G_136N,PCT12G_137N,'
                      'PCT12G_138N,PCT12G_139N,PCT12G_140N,PCT12G_141N,'
                      'PCT12G_142N,PCT12G_143N,PCT12G_144N,PCT12G_145N,'
                      'PCT12G_146N,PCT12G_147N,PCT12G_148N,PCT12G_149N,'
                      'PCT12G_150N,PCT12G_151N,PCT12G_152N,PCT12G_153N,'
                      'PCT12G_154N')

total_female_tom_1 = ('NAME,PCT12G_155N,PCT12G_156N,PCT12G_157N,PCT12G_158N,'
                      'PCT12G_159N,PCT12G_160N,PCT12G_161N,PCT12G_162N,'
                      'PCT12G_163N,PCT12G_164N,PCT12G_165N,PCT12G_166N,'
                      'PCT12G_167N,PCT12G_168N,PCT12G_169N,PCT12G_170N,'
                      'PCT12G_171N,PCT12G_172N,PCT12G_173N,PCT12G_174N,'
                      'PCT12G_175N,PCT12G_176N,PCT12G_177N,PCT12G_178N,'
                      'PCT12G_179N,PCT12G_180N,PCT12G_181N,PCT12G_182N,'
                      'PCT12G_183N,PCT12G_184N,PCT12G_185N,PCT12G_186N,'
                      'PCT12G_187N,PCT12G_188N,PCT12G_189N,PCT12G_190N,'
                      'PCT12G_191N,PCT12G_192N,PCT12G_193N,PCT12G_194N,'
                      'PCT12G_195N,PCT12G_196N,PCT12G_197N,PCT12G_198N,'
                      'PCT12G_199N,PCT12G_200N,PCT12G_201N,PCT12G_202N,'
                      'PCT12G_203N')

total_female_tom_2 = ('NAME,PCT12G_204N,PCT12G_205N,PCT12G_206N,PCT12G_207N,'
                      'PCT12G_208N,PCT12G_209N')

total_hol = ('NAME,PCT12H_001N')

total_male_hol_0 = ('NAME,PCT12H_002N,PCT12H_003N,PCT12H_004N,PCT12H_005N,'
                    'PCT12H_006N,PCT12H_007N,PCT12H_008N,PCT12H_009N,'
                    'PCT12H_010N,PCT12H_011N,PCT12H_012N,PCT12H_013N,'
                    'PCT12H_014N,PCT12H_015N,PCT12H_016N,PCT12H_017N,'
                    'PCT12H_018N,PCT12H_019N,PCT12H_020N,PCT12H_021N,'
                    'PCT12H_022N,PCT12H_023N,PCT12H_024N,PCT12H_025N,'
                    'PCT12H_026N,PCT12H_027N,PCT12H_028N,PCT12H_029N,'
                    'PCT12H_030N,PCT12H_031N,PCT12H_032N,PCT12H_033N,'
                    'PCT12H_034N,PCT12H_035N,PCT12H_036N,PCT12H_037N,'
                    'PCT12H_038N,PCT12H_039N,PCT12H_040N,PCT12H_041N,'
                    'PCT12H_042N,PCT12H_043N,PCT12H_044N,PCT12H_045N,'
                    'PCT12H_046N,PCT12H_047N,PCT12H_048N,PCT12H_049N,'
                    'PCT12H_050N')

total_male_hol_1 = ('NAME,PCT12H_051N,PCT12H_052N,PCT12H_053N,PCT12H_054N,'
                    'PCT12H_055N,PCT12H_056N,PCT12H_057N,PCT12H_058N,'
                    'PCT12H_059N,PCT12H_060N,PCT12H_061N,PCT12H_062N,'
                    'PCT12H_063N,PCT12H_064N,PCT12H_065N,PCT12H_066N,'
                    'PCT12H_067N,PCT12H_068N,PCT12H_069N,PCT12H_070N,'
                    'PCT12H_071N,PCT12H_072N,PCT12H_073N,PCT12H_074N,'
                    'PCT12H_075N,PCT12H_076N,PCT12H_077N,PCT12H_078N,'
                    'PCT12H_079N,PCT12H_080N,PCT12H_081N,PCT12H_082N,'
                    'PCT12H_083N,PCT12H_084N,PCT12H_085N,PCT12H_086N,'
                    'PCT12H_087N,PCT12H_088N,PCT12H_089N,PCT12H_090N,'
                    'PCT12H_091N,PCT12H_092N,PCT12H_093N,PCT12H_094N,'
                    'PCT12H_095N,PCT12H_096N,PCT12H_097N,PCT12H_098N,'
                    'PCT12H_099N')

total_male_hol_2 = ('NAME,PCT12H_100N,PCT12H_101N,PCT12H_102N,PCT12H_103N,'
                    'PCT12H_104N,PCT12H_105N')

total_female_hol_0 = ('NAME,PCT12H_106N,PCT12H_107N,PCT12H_108N,PCT12H_109N,'
                      'PCT12H_110N,PCT12H_111N,PCT12H_112N,PCT12H_113N,'
                      'PCT12H_114N,PCT12H_115N,PCT12H_116N,PCT12H_117N,'
                      'PCT12H_118N,PCT12H_119N,PCT12H_120N,PCT12H_121N,'
                      'PCT12H_122N,PCT12H_123N,PCT12H_124N,PCT12H_125N,'
                      'PCT12H_126N,PCT12H_127N,PCT12H_128N,PCT12H_129N,'
                      'PCT12H_130N,PCT12H_131N,PCT12H_132N,PCT12H_133N,'
                      'PCT12H_134N,PCT12H_135N,PCT12H_136N,PCT12H_137N,'
                      'PCT12H_138N,PCT12H_139N,PCT12H_140N,PCT12H_141N,'
                      'PCT12H_142N,PCT12H_143N,PCT12H_144N,PCT12H_145N,'
                      'PCT12H_146N,PCT12H_147N,PCT12H_148N,PCT12H_149N,'
                      'PCT12H_150N,PCT12H_151N,PCT12H_152N,PCT12H_153N,'
                      'PCT12H_154N')

total_female_hol_1 = ('NAME,PCT12H_155N,PCT12H_156N,PCT12H_157N,PCT12H_158N,'
                      'PCT12H_159N,PCT12H_160N,PCT12H_161N,PCT12H_162N,'
                      'PCT12H_163N,PCT12H_164N,PCT12H_165N,PCT12H_166N,'
                      'PCT12H_167N,PCT12H_168N,PCT12H_169N,PCT12H_170N,'
                      'PCT12H_171N,PCT12H_172N,PCT12H_173N,PCT12H_174N,'
                      'PCT12H_175N,PCT12H_176N,PCT12H_177N,PCT12H_178N,'
                      'PCT12H_179N,PCT12H_180N,PCT12H_181N,PCT12H_182N,'
                      'PCT12H_183N,PCT12H_184N,PCT12H_185N,PCT12H_186N,'
                      'PCT12H_187N,PCT12H_188N,PCT12H_189N,PCT12H_190N,'
                      'PCT12H_191N,PCT12H_192N,PCT12H_193N,PCT12H_194N,'
                      'PCT12H_195N,PCT12H_196N,PCT12H_197N,PCT12H_198N,'
                      'PCT12H_199N,PCT12H_200N,PCT12H_201N,PCT12H_202N,'
                      'PCT12H_203N')

total_female_hol_2 = ('NAME,PCT12H_204N,PCT12H_205N,PCT12H_206N,PCT12H_207N,'
                      'PCT12H_208N,PCT12H_209N')

In [5]:
get_vars = [male_all_0,male_all_1,male_all_2,female_all_0,
            female_all_1,female_all_2,total_male_whi_0,
            total_male_whi_1,total_male_whi_2,total_female_whi_0,
            total_female_whi_1,total_female_whi_2,total_male_baa_0,
            total_male_baa_1,total_male_baa_2,total_female_baa_0,
            total_female_baa_1,total_female_baa_2,total_male_aian_0,
            total_male_aian_1,total_male_aian_2,total_female_aian_0,
            total_female_aian_1,total_female_aian_2,total_male_aa_0,
            total_male_aa_1,total_male_aa_2,total_female_aa_0,
            total_female_aa_1,total_female_aa_2,total_male_nhop_0,
            total_male_nhop_1,total_male_nhop_2,total_female_nhop_0,
            total_female_nhop_1,total_female_nhop_2,total_male_sor_0,
            total_male_sor_1,total_male_sor_2,total_female_sor_0,
            total_female_sor_1,total_female_sor_2,total_male_tom_0,
            total_male_tom_1,total_male_tom_2,total_female_tom_0,
            total_female_tom_1,total_female_tom_2,total_male_hol_0,
            total_male_hol_1,total_male_hol_2,total_female_hol_0,
            total_female_hol_1,total_female_hol_2
            ]

get_vars_A = [total_all,total_whi,total_baa,total_aian,total_aa,total_nhop,
              total_sor,total_tom,total_hol
              ]

df_vars = ['DF_male_all_0','DF_male_all_1','DF_male_all_2',
           'DF_female_all_0','DF_female_all_1','DF_female_all_2',
           'DF_total_male_whi_0','DF_total_male_whi_1',
           'DF_total_male_whi_2','DF_total_female_whi_0',
           'DF_total_female_whi_1','DF_total_female_whi_2',
           'DF_total_male_baa_0','DF_total_male_baa_1','DF_total_male_baa_2',
           'DF_total_female_baa_0','DF_total_female_baa_1',
           'DF_total_female_baa_2','DF_total_male_aian_0',
           'DF_total_male_aian_1','DF_total_male_aian_2',
           'DF_total_female_aian_0','DF_total_female_aian_1',
           'DF_total_female_aian_2','DF_total_male_aa_0',
           'DF_total_male_aa_1','DF_total_male_aa_2','DF_total_female_aa_0',
           'DF_total_female_aa_1','DF_total_female_aa_2',
           'DF_total_male_nhop_0','DF_total_male_nhop_1',
           'DF_total_male_nhop_2','DF_total_female_nhop_0',
           'DF_total_female_nhop_1','DF_total_female_nhop_2',
           'DF_total_male_sor_0','DF_total_male_sor_1','DF_total_male_sor_2',
           'DF_total_female_sor_0','DF_total_female_sor_1',
           'DF_total_female_sor_2','DF_total_male_tom_0',
           'DF_total_male_tom_1','DF_total_male_tom_2','DF_total_female_tom_0',
           'DF_total_female_tom_1','DF_total_female_tom_2',
           'DF_total_male_hol_0','DF_total_male_hol_1','DF_total_male_hol_2',
           'DF_total_female_hol_0','DF_total_female_hol_1',
           'DF_total_female_hol_2'
           ]

df_vars_A = ['DF_total_all','DF_total_whi','DF_total_baa','DF_total_aian',
             'DF_total_aa','DF_total_nhop','DF_total_sor','DF_total_tom',
             'DF_total_hol']

### API Calls (For Merge)

Due to the high volumn of API calls and dataframes being created I am 
splitting the calls into the API in two:

Dataframes to be merged (get_vars,df_vars)<br>
Dataframes to NOT merge (get_vars_A,df_vars_A)<br>

This will ease management since the dataframes of each type have many disimilar
features.

In [6]:
# API call parameters
url = 'https://api.census.gov/data/2020/dec/dhc'
how = 'state:*'
where = 'county:*'

# Create an empty dictionary to store the data frames
dfs = {}

# Iterate through get_vars and df_vars simultaneously
for var, name in zip(get_vars, df_vars):
    r = requests.request('GET', url, params={"get": var, "for": where, "in": how, "key": key})

    # Check if the API call was successful
    if r.status_code == 200:
        data = r.json()

        # Create the data frame using the returned JSON data
        df_data = data[1:]  # Skip the first row which contains the column names
        dfs[name] = pd.DataFrame(df_data, columns=data[0])

        # Join 'state' and 'county' columns into a new column 'FIPS'
        dfs[name]['FIPS'] = dfs[name]['state'] + dfs[name]['county']

                # Convert specific columns to desired data types
        columns_to_convert = ['NAME', 'state', 'county', 'FIPS']
        columns_to_convert = [col for col in columns_to_convert if col in dfs[name].columns]
        dfs[name][columns_to_convert] = dfs[name][columns_to_convert].astype(str)
        dfs[name][dfs[name].columns.difference(columns_to_convert)] = dfs[name][dfs[name].columns.difference(columns_to_convert)].astype(int)

        # Display the created data frame
        print(f"Data frame '{name}':")
        print(dfs[name])
    else:
        # API call failed
        print(f"API call for '{var}' failed. Status code:", r.status_code)

Data frame 'DF_male_all_0':
                             NAME  PCT12_002N  PCT12_003N  PCT12_004N  \
0        Bullitt County, Kentucky       40783         437         450
1         Butler County, Kentucky        6205          70          70
2       Caldwell County, Kentucky        6136          72          80
3       Calloway County, Kentucky       17906         157         203
4       Magoffin County, Kentucky        5722          64          51
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee        8345          98          86
3217  Henderson County, Tennessee       13569         183         124
3218         Howard County, Texas       19687         190         218
3219       Hudspeth County, Texas        1684          20          10
3220           Hunt County, Texas       49310         593         582

      PCT12_005N  PCT12_006N  PCT12_007N  PCT12_008N  PCT12_009N  PCT12_010N  \
0            511         484         513         525         576         559
1             84          91          80          90         116          67
2             83          60          82          78          69          84
3            182         171         192         161         202         186
4             65          60          62          79          85          71
...          ...         ...         ...         ...         ...         ...
3216         120         100         109         120         115          96
3217         170         184         175         185         185         160
3218         223         195         287         247         211         223
3219           4          14           9          10          16          17
3220         669         639         691         704         658         650

      ...  PCT12_044N  PCT12_045N  PCT12_046N  PCT12_047N  PCT12_048N  \
0     ...         509         523         534         490         581
1     ...          99          61          84          93          83
2     ...          53          56          59          59          71
3     ...         197         219         206         196         189
4     ...          80          60          88          78          77
...   ...         ...         ...         ...         ...         ...
3216  ...          98         100         121          70         103
3217  ...         191         148         195         151         163
3218  ...         335         349         285         261         344
3219  ...          16          23          21          33          25
3220  ...         557         573         558         550         623

      PCT12_049N  PCT12_050N  state  county   FIPS
0            534         496     21     029  21029
1             69          62     21     031  21031
2            103          91     21     033  21033
3            183         163     21     035  21035
4             67          88     21     153  21153
...          ...         ...    ...     ...    ...
3216         116          61     47     075  47075
3217         163         154     47     077  47077
3218         311         277     48     227  48227
3219          24           5     48     229  48229
3220         523         604     48     231  48231

[3221 rows x 53 columns]
Data frame 'DF_male_all_1':
                             NAME  PCT12_051N  PCT12_052N  PCT12_053N  \
0        Bullitt County, Kentucky         603         632         619
1         Butler County, Kentucky         105          65         107
2       Caldwell County, Kentucky          85          90          83
3       Calloway County, Kentucky         215         195         186
4       Magoffin County, Kentucky          74         101          71
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee          93         118          99
3217  Henderson County, Tennessee         205         188         152
3218         Howard County, Texas         293         240         264
3219       Hudspeth County, Texas          17          13          19
3220           Hunt County, Texas         574         620         669

      PCT12_054N  PCT12_055N  PCT12_056N  PCT12_057N  PCT12_058N  PCT12_059N  \
0            584         626         535         533         601         626
1             71          70          76          62          99         102
2             93          81          66          87          52          74
3            195         208         205         216         218         191
4             87          99          89          90          66          71
...          ...         ...         ...         ...         ...         ...
3216         105         129         151          96         112         123
3217         182         172         159         211         203         190
3218         294         225         233         216         246         264
3219          18          28          18          16           4          24
3220         575         591         617         624         703         682

      ...  PCT12_093N  PCT12_094N  PCT12_095N  PCT12_096N  PCT12_097N  \
0     ...          24          28          26           5           6
1     ...           8          13           3           0           0
2     ...          15           1           6           6           3
3     ...          34          14           5           6           4
4     ...           9           1           2           6           2
...   ...         ...         ...         ...         ...         ...
3216  ...           1           0          13          10           3
3217  ...          26          10           5           5           5
3218  ...          25           5           8           6          26
3219  ...           0           1           3           1           0
3220  ...          39          32          15          25          13

      PCT12_098N  PCT12_099N  state  county   FIPS
0              8           3     21     029  21029
1              2           0     21     031  21031
2              1           4     21     033  21033
3              7           0     21     035  21035
4              0           2     21     153  21153
...          ...         ...    ...     ...    ...
3216           2           4     47     075  47075
3217           5           2     47     077  47077
3218           6           3     48     227  48227
3219           0           0     48     229  48229
3220           5           3     48     231  48231

[3221 rows x 53 columns]
Data frame 'DF_male_all_2':
                             NAME  PCT12_100N  PCT12_101N  PCT12_102N  \
0        Bullitt County, Kentucky           3           1           0
1         Butler County, Kentucky           0           0           0
2       Caldwell County, Kentucky           3           1           0
3       Calloway County, Kentucky           4           0           0
4       Magoffin County, Kentucky           0           0           0
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee           0           3           1
3217  Henderson County, Tennessee           1           1           0
3218         Howard County, Texas           6           4           2
3219       Hudspeth County, Texas           0           0           0
3220           Hunt County, Texas           9           1           0

      PCT12_103N  PCT12_104N  PCT12_105N state county   FIPS
0              0           0           0    21    029  21029
1              0           0           0    21    031  21031
2              1           2           0    21    033  21033
3              0           0           0    21    035  21035
4              1           1           0    21    153  21153
...          ...         ...         ...   ...    ...    ...
3216           1           0           1    47    075  47075
3217           1           0           0    47    077  47077
3218           5           0           0    48    227  48227
3219           1           0           0    48    229  48229
3220           4           0           0    48    231  48231

[3221 rows x 10 columns]
Data frame 'DF_female_all_0':
                             NAME  PCT12_106N  PCT12_107N  PCT12_108N  \
0        Bullitt County, Kentucky       41434         446         400
1         Butler County, Kentucky        6166          62          73
2       Caldwell County, Kentucky        6513          63          64
3       Calloway County, Kentucky       19197         153         183
4       Magoffin County, Kentucky        5915          65          50
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee        9519         107          94
3217  Henderson County, Tennessee       14273         150         154
3218         Howard County, Texas       15173         179         183
3219       Hudspeth County, Texas        1518          10          17
3220           Hunt County, Texas       50646         539         524

      PCT12_109N  PCT12_110N  PCT12_111N  PCT12_112N  PCT12_113N  PCT12_114N  \
0            488         471         514         517         492         470
1             65          71          87          70          84          76
2             62          69          44          89          78          77
3            178         190         217         193         173         181
4             48          54          79          46          63          69
...          ...         ...         ...         ...         ...         ...
3216         105         101         105         108         116         101
3217         140         148         149         160         172         155
3218         193         217         221         197         218         204
3219           5           8          30          21          10          23
3220         607         619         606         633         633         668

      ...  PCT12_148N  PCT12_149N  PCT12_150N  PCT12_151N  PCT12_152N  \
0     ...         542         534         524         509         574
1     ...          66          65          76          72          68
2     ...          83          77          56          62         101
3     ...         201         215         149         205         201
4     ...          78          93          85          65          67
...   ...         ...         ...         ...         ...         ...
3216  ...         121         121         161          97          87
3217  ...         200         162         179         183         170
3218  ...         174         158         162         156         174
3219  ...          24          18          28           7          25
3220  ...         590         588         564         541         669

      PCT12_153N  PCT12_154N  state  county   FIPS
0            550         542     21     029  21029
1             58          61     21     031  21031
2             72          65     21     033  21033
3            144         211     21     035  21035
4             65         101     21     153  21153
...          ...         ...    ...     ...    ...
3216          87          93     47     075  47075
3217         178         222     47     077  47077
3218         146         148     48     227  48227
3219           9          12     48     229  48229
3220         538         580     48     231  48231

[3221 rows x 53 columns]
Data frame 'DF_female_all_1':
                             NAME  PCT12_155N  PCT12_156N  PCT12_157N  \
0        Bullitt County, Kentucky         566         631         562
1         Butler County, Kentucky          78          89          77
2       Caldwell County, Kentucky          78          99          98
3       Calloway County, Kentucky         199         226         225
4       Magoffin County, Kentucky          66          93         110
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee         125         116         134
3217  Henderson County, Tennessee         138         170         189
3218         Howard County, Texas         199         168         200
3219       Hudspeth County, Texas          45          11          12
3220           Hunt County, Texas         613         638         673

      PCT12_158N  PCT12_159N  PCT12_160N  PCT12_161N  PCT12_162N  PCT12_163N  \
0            570         586         540         622         646         721
1             69          81          92          75          87          95
2             77          70          57         103         100          75
3            208         200         223         202         232         230
4             68          70          88          93          69          97
...          ...         ...         ...         ...         ...         ...
3216         112         125         154         135         132         149
3217         161         169         229         175         247         185
3218         199         159         155         203         176         185
3219          24           9          20          22          17          34
3220         607         645         641         627         684         676

      ...  PCT12_197N  PCT12_198N  PCT12_199N  PCT12_200N  PCT12_201N  \
0     ...          44          38          16          23          38
1     ...           6          18           5           3          13
2     ...          22           7           8          19          10
3     ...          40          30          23          25          11
4     ...           9          13          11           2           1
...   ...         ...         ...         ...         ...         ...
3216  ...          10          31          10           5          21
3217  ...          30          27          18           9          16
3218  ...          31          27          24          19           9
3219  ...           3           1           0           1           2
3220  ...          86          49          44          36          30

      PCT12_202N  PCT12_203N  state  county   FIPS
0             15          11     21     029  21029
1              3           0     21     031  21031
2             10           5     21     033  21033
3             17          14     21     035  21035
4              5           1     21     153  21153
...          ...         ...    ...     ...    ...
3216           5           7     47     075  47075
3217          16          10     47     077  47077
3218           2           9     48     227  48227
3219           0           0     48     229  48229
3220          24          19     48     231  48231

[3221 rows x 53 columns]
Data frame 'DF_female_all_2':
                             NAME  PCT12_204N  PCT12_205N  PCT12_206N  \
0        Bullitt County, Kentucky           4           0           8
1         Butler County, Kentucky           1           1           0
2       Caldwell County, Kentucky           7           1           0
3       Calloway County, Kentucky           3           6           8
4       Magoffin County, Kentucky           1           0           0
...                           ...         ...         ...         ...
3216    Haywood County, Tennessee           3           1           0
3217  Henderson County, Tennessee           1           8           1
3218         Howard County, Texas          10           4           1
3219       Hudspeth County, Texas           0           0           0
3220           Hunt County, Texas           7          12          12

      PCT12_207N  PCT12_208N  PCT12_209N state county   FIPS
0              7           1           0    21    029  21029
1              0           0           0    21    031  21031
2              1           4           0    21    033  21033
3              3           0           1    21    035  21035
4              2           0           0    21    153  21153
...          ...         ...         ...   ...    ...    ...
3216           8           0           0    47    075  47075
3217           2           2           0    47    077  47077
3218           4           0           0    48    227  48227
3219           1           0           0    48    229  48229
3220           4           4           2    48    231  48231

[3221 rows x 10 columns]
Data frame 'DF_total_male_whi_0':
                             NAME  PCT12A_002N  PCT12A_003N  PCT12A_004N  \
0        Bullitt County, Kentucky        37372          395          391
1         Butler County, Kentucky         5713           66           63
2       Caldwell County, Kentucky         5411           63           66
3       Calloway County, Kentucky        15632          124          155
4       Magoffin County, Kentucky         5588           64           50
...                           ...          ...          ...          ...
3216    Haywood County, Tennessee         3713           34           31
3217  Henderson County, Tennessee        11649          154          101
3218         Howard County, Texas        13750          122          118
3219       Hudspeth County, Texas         1021            9            9
3220           Hunt County, Texas        34834          351          359

      PCT12A_005N  PCT12A_006N  PCT12A_007N  PCT12A_008N  PCT12A_009N  \
0             442          418          440          444          490
1              69           81           65           82           94
2              77           45           69           68           60
3             150          141          162          141          181
4              65           57           59           79           84
...           ...          ...          ...          ...          ...
3216           50           37           42           33           32
3217          126          147          138          161          152
3218          141          128          164          148          119
3219            0            9            8            7           11
3220          435          415          432          422          421

      PCT12A_010N  ...  PCT12A_044N  PCT12A_045N  PCT12A_046N  PCT12A_047N  \
0             499  ...          472          484          475          447
1              56  ...           90           52           77           87
2              68  ...           50           46           50           51
3             157  ...          185          192          178          176
4              71  ...           77           59           87           76
...           ...  ...          ...          ...          ...          ...
3216           44  ...           35           42           48           25
3217          136  ...          163          138          165          132
3218          137  ...          243          270          235          207
3219            3  ...           16           20           11           18
3220          430  ...          390          361          391          366

      PCT12A_048N  PCT12A_049N  PCT12A_050N  state  county   FIPS
0             544          503          458     21     029  21029
1              79           67           60     21     031  21031
2              68           84           82     21     033  21033
3             149          169          138     21     035  21035
4              76           67           88     21     153  21153
...           ...          ...          ...    ...     ...    ...
3216           57           49           28     47     075  47075
3217          125          143          129     47     077  47077
3218          232          216          213     48     227  48227
3219           10           10            2     48     229  48229
3220          445          383          442     48     231  48231

[3221 rows x 53 columns]
Data frame 'DF_total_male_whi_1':
                             NAME  PCT12A_051N  PCT12A_052N  PCT12A_053N  \

### Verify Pulls from API

I should have 54 Dataframes total.

- Dataframes ending in _0 should have:
    - Shape: 3221 rows, 53 columns
- Dataframes ending in _1 should have:
    - Shape: 3221 rows, 53 columns
- Dataframes ending in _2 should have:
    - Shape: 3221 rows, 10 columns

In [7]:
# Print the number of data frame names stored in dfs dictionary
print(f"Number of data frames: {len(dfs)}")

print("Data Frames in dfs:")
for name, df in dfs.items():
    # Get the shape of the data frame
    rows, cols = df.shape

    # Print the data frame name and shape
    print(f"Data frame '{name}':")
    print(f"Shape: {rows} rows, {cols} columns")

Number of data frames: 54
Data Frames in dfs:
Data frame 'DF_male_all_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_male_all_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_male_all_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_female_all_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_female_all_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_female_all_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_whi_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_whi_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_whi_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_whi_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_whi_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_whi_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_baa_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_baa_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_baa_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_baa_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_baa_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_baa_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_aian_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_aian_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_aian_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_aian_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_aian_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_aian_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_aa_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_aa_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_aa_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_aa_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_aa_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_aa_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_nhop_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_nhop_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_nhop_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_nhop_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_nhop_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_nhop_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_sor_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_sor_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_sor_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_sor_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_sor_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_sor_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_tom_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_tom_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_tom_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_tom_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_tom_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_tom_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_male_hol_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_hol_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_male_hol_2':
Shape: 3221 rows, 10 columns
Data frame 'DF_total_female_hol_0':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_hol_1':
Shape: 3221 rows, 53 columns
Data frame 'DF_total_female_hol_2':
Shape: 3221 rows, 10 columns

### Checking for data errors

I should find no missing data.

In [8]:
for df_name, df in dfs.items():
    # Find the rows with missing data
    rows_with_missing_data = df[df.isnull().any(axis=1)]

    # Find the columns with missing data
    columns_with_missing_data = df.columns[df.isnull().any()]

    # Check if there is missing data in the dataframe
    if not rows_with_missing_data.empty or len(columns_with_missing_data) > 0:
        print(f"Missing data found in DataFrame '{df_name}'")

        # Replace NaN values with string 'NaN'
        df = df.replace({np.nan: 'NaN'})

        # Print the rows with missing data
        print("Rows with missing data:")
        print(rows_with_missing_data)

        # Print the columns with missing data
        print("Columns with missing data:")
        print(columns_with_missing_data)
        print()

        # Search for 'NaN' string in the dataframe
        rows_with_nan_string = df[df.eq('NaN').any(axis=1)]
        columns_with_nan_string = df.columns[df.eq('NaN').any()]

        # Print the rows with 'NaN' string
        print("Rows with 'NaN' string:")
        print(rows_with_nan_string)

        # Print the columns with 'NaN' string
        print("Columns with 'NaN' string:")
        print(columns_with_nan_string)
        print()
    else:
        print(f"No missing data found in DataFrame '{df_name}'")

No missing data found in DataFrame 'DF_male_all_0'
No missing data found in DataFrame 'DF_male_all_1'
No missing data found in DataFrame 'DF_male_all_2'
No missing data found in DataFrame 'DF_female_all_0'
No missing data found in DataFrame 'DF_female_all_1'
No missing data found in DataFrame 'DF_female_all_2'
No missing data found in DataFrame 'DF_total_male_whi_0'
No missing data found in DataFrame 'DF_total_male_whi_1'
No missing data found in DataFrame 'DF_total_male_whi_2'
No missing data found in DataFrame 'DF_total_female_whi_0'
No missing data found in DataFrame 'DF_total_female_whi_1'
No missing data found in DataFrame 'DF_total_female_whi_2'
No missing data found in DataFrame 'DF_total_male_baa_0'
No missing data found in DataFrame 'DF_total_male_baa_1'
No missing data found in DataFrame 'DF_total_male_baa_2'
No missing data found in DataFrame 'DF_total_female_baa_0'
No missing data found in DataFrame 'DF_total_female_baa_1'
No missing data found in DataFrame 'DF_total_female_baa_2'
No missing data found in DataFrame 'DF_total_male_aian_0'
No missing data found in DataFrame 'DF_total_male_aian_1'
No missing data found in DataFrame 'DF_total_male_aian_2'
No missing data found in DataFrame 'DF_total_female_aian_0'
No missing data found in DataFrame 'DF_total_female_aian_1'
No missing data found in DataFrame 'DF_total_female_aian_2'
No missing data found in DataFrame 'DF_total_male_aa_0'
No missing data found in DataFrame 'DF_total_male_aa_1'
No missing data found in DataFrame 'DF_total_male_aa_2'
No missing data found in DataFrame 'DF_total_female_aa_0'
No missing data found in DataFrame 'DF_total_female_aa_1'
No missing data found in DataFrame 'DF_total_female_aa_2'
No missing data found in DataFrame 'DF_total_male_nhop_0'
No missing data found in DataFrame 'DF_total_male_nhop_1'
No missing data found in DataFrame 'DF_total_male_nhop_2'
No missing data found in DataFrame 'DF_total_female_nhop_0'
No missing data found in DataFrame 'DF_total_female_nhop_1'
No missing data found in DataFrame 'DF_total_female_nhop_2'
No missing data found in DataFrame 'DF_total_male_sor_0'
No missing data found in DataFrame 'DF_total_male_sor_1'
No missing data found in DataFrame 'DF_total_male_sor_2'
No missing data found in DataFrame 'DF_total_female_sor_0'
No missing data found in DataFrame 'DF_total_female_sor_1'
No missing data found in DataFrame 'DF_total_female_sor_2'
No missing data found in DataFrame 'DF_total_male_tom_0'
No missing data found in DataFrame 'DF_total_male_tom_1'
No missing data found in DataFrame 'DF_total_male_tom_2'
No missing data found in DataFrame 'DF_total_female_tom_0'
No missing data found in DataFrame 'DF_total_female_tom_1'
No missing data found in DataFrame 'DF_total_female_tom_2'
No missing data found in DataFrame 'DF_total_male_hol_0'
No missing data found in DataFrame 'DF_total_male_hol_1'
No missing data found in DataFrame 'DF_total_male_hol_2'
No missing data found in DataFrame 'DF_total_female_hol_0'
No missing data found in DataFrame 'DF_total_female_hol_1'
No missing data found in DataFrame 'DF_total_female_hol_2'

### Merging Dataframes

Merging dataframes based on their name:

>Example: 'DF_male_all' = 'DF_male_all_0'+'DF_male_all_1'+'DF_male_all_2'

In [9]:
# Create the list of dataframe names to use for merging
df_mrg = ['DF_male_all','DF_female_all','DF_total_male_whi',
          'DF_total_female_whi','DF_total_male_baa','DF_total_female_baa',
          'DF_total_male_aian','DF_total_female_aian','DF_total_male_aa',
          'DF_total_female_aa','DF_total_male_nhop','DF_total_female_nhop',
          'DF_total_male_sor','DF_total_female_sor','DF_total_male_tom',
          'DF_total_female_tom','DF_total_male_hol','DF_total_female_hol'
          ]

In [10]:
# Create a dictionary to store the merged data frames
merged_dfs = {}

# Iterate over the items in the 'df_mrg' list
for item in df_mrg:

    # Create an empty list to store modified dataframes
        # Drop 4 common columns from each dataframe in 'dfs'dictionary
            # Create 'df_name' to represent the dataframe name from 'df_mrg'
            # 'df_name' is the loop variable for the key/value pairs in 'dfs'
                #looking for the name from 'df_mrg', beginning of name string
    dfs_to_merge = [df.drop(['NAME', 'state', 'county', 'FIPS'], axis=1) 
                    for df_name, df in dfs.items() if df_name.startswith(item)]
    
    # Merge the data frames by joining all columns at once
    # Merged columns will be in order since 'df_mrg' was in introduced
    #   and has the proper order for the itteration above
    merged_df = pd.concat(dfs_to_merge, axis=1, ignore_index=True)

    # # Reset the index after concatenation
    # merged_df = merged_df.reset_index(drop=True)
    
    # Add the common columns back to the merged data frame
    # Since the columns and their data still exist, they can be added back
    common_cols = ['NAME', 'state', 'county', 'FIPS']
    merged_df[common_cols] = dfs[item + '_0'][common_cols]
    
    # Add the merged data frame to the dictionary created before
    merged_dfs[item] = merged_df

C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]
C:\Users\Derek\AppData\Local\Temp\ipykernel_5612\180942237.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[common_cols] = dfs[item + '_0'][common_cols]

### Verify Merge

I should have 18 Dataframes total.

Dataframes should match the names of 'df_mrg' and be the following shape:<br>
>Shape: (3221, 108)

In [11]:
# Print the number of dataframes in merged_dfs
print("Number of Dataframes in merged_dfs:", len(merged_dfs))

# Iterate over the dataframes in merged_dfs and print their names and shapes
for name, df in merged_dfs.items():
    print("Dataframe:", name)
    print("Shape:", df.shape)
    print()

Number of Dataframes in merged_dfs: 18
Dataframe: DF_male_all
Shape: (3221, 108)

Dataframe: DF_female_all
Shape: (3221, 108)

Dataframe: DF_total_male_whi
Shape: (3221, 108)

Dataframe: DF_total_female_whi
Shape: (3221, 108)

Dataframe: DF_total_male_baa
Shape: (3221, 108)

Dataframe: DF_total_female_baa
Shape: (3221, 108)

Dataframe: DF_total_male_aian
Shape: (3221, 108)

Dataframe: DF_total_female_aian
Shape: (3221, 108)

Dataframe: DF_total_male_aa
Shape: (3221, 108)

Dataframe: DF_total_female_aa
Shape: (3221, 108)

Dataframe: DF_total_male_nhop
Shape: (3221, 108)

Dataframe: DF_total_female_nhop
Shape: (3221, 108)

Dataframe: DF_total_male_sor
Shape: (3221, 108)

Dataframe: DF_total_female_sor
Shape: (3221, 108)

Dataframe: DF_total_male_tom
Shape: (3221, 108)

Dataframe: DF_total_female_tom
Shape: (3221, 108)

Dataframe: DF_total_male_hol
Shape: (3221, 108)

Dataframe: DF_total_female_hol
Shape: (3221, 108)

### Verify Content

selected dataframe from 'merged_dfs' should have the following columns:<br>
>104 variable columns with 4 constant columns at the end:<br>
>['NAME','state','county','FIPS']<br>

Columns should be in order according to associated sheet in planning doc:<br>
>'2020_agesex.xlsx'

In [12]:
df = merged_dfs['DF_male_all']
# Print the columns
print("Columns of DF_male_all:")
for column in df.columns:
    print(column)

Columns of DF_male_all:
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
NAME
state
county
FIPS

### Changing Column Names

Column order of dataframes has been verified, changing column names to the <br>
merged dataframes in 'merged_dfs'

In [13]:
col_names = ['Total','Under 1 Year','1 Year','2 Years','3 Years','4 Years',
             '5 Years','6 Years','7 Years','8 Years','9 Years','10 Years',
             '11 Years','12 Years','13 Years','14 Years','15 Years','16 Years',
             '17 Years','18 Years','19 Years','20 Years','21 Years','22 Years',
             '23 Years','24 Years','25 Years','26 Years','27 Years','28 Years',
             '29 Years','30 Years','31 Years','32 Years','33 Years','34 Years',
             '35 Years','36 Years','37 Years','38 Years','39 Years','40 Years',
             '41 Years','42 Years','43 Years','44 Years','45 Years','46 Years',
             '47 Years','48 Years','49 Years','50 Years','51 Years','52 Years',
             '53 Years','54 Years','55 Years','56 Years','57 Years','58 Years',
             '59 Years','60 Years','61 Years','62 Years','63 Years','64 Years',
             '65 Years','66 Years','67 Years','68 Years','69 Years','70 Years',
             '71 Years','72 Years','73 Years','74 Years','75 Years','76 Years',
             '77 Years','78 Years','79 Years','80 Years','81 Years','82 Years',
             '83 Years','84 Years','85 Years','86 Years','87 Years','88 Years',
             '89 Years','90 Years','91 Years','92 Years','93 Years','94 Years',
             '95 Years','96 Years','97  Years','98  Years','99  Years',
             '100 to 104  Years','105 to 109  Years','110  Years and Over',
             'Location','State','County','FIPS'
             ]

# Iterate over the items in the 'merged_dfs' dictionary
for item, df in merged_dfs.items():
    df.columns = col_names  # Assign the new column names to the data frame in place
    merged_dfs[item] = df  # Update the data frame in the 'merged_dfs' dictionary

### Verify Column Names

selected dataframe from 'merged_dfs' should have the correct columns

In [14]:
df = merged_dfs['DF_male_all']
# Print the columns
print("Columns of DF_male_all:")
for column in df.columns:
    print(column)

Columns of DF_male_all:
Total
Under 1 Year
1 Year
2 Years
3 Years
4 Years
5 Years
6 Years
7 Years
8 Years
9 Years
10 Years
11 Years
12 Years
13 Years
14 Years
15 Years
16 Years
17 Years
18 Years
19 Years
20 Years
21 Years
22 Years
23 Years
24 Years
25 Years
26 Years
27 Years
28 Years
29 Years
30 Years
31 Years
32 Years
33 Years
34 Years
35 Years
36 Years
37 Years
38 Years
39 Years
40 Years
41 Years
42 Years
43 Years
44 Years
45 Years
46 Years
47 Years
48 Years
49 Years
50 Years
51 Years
52 Years
53 Years
54 Years
55 Years
56 Years
57 Years
58 Years
59 Years
60 Years
61 Years
62 Years
63 Years
64 Years
65 Years
66 Years
67 Years
68 Years
69 Years
70 Years
71 Years
72 Years
73 Years
74 Years
75 Years
76 Years
77 Years
78 Years
79 Years
80 Years
81 Years
82 Years
83 Years
84 Years
85 Years
86 Years
87 Years
88 Years
89 Years
90 Years
91 Years
92 Years
93 Years
94 Years
95 Years
96 Years
97  Years
98  Years
99  Years
100 to 104  Years
105 to 109  Years
110  Years and Over
Location
State
County
FIPS

In [15]:
df_tots = ['DF_total_all','DF_total_whi','DF_total_baa','DF_total_aian',
           'DF_total_aa','DF_total_nhop','DF_total_sor','DF_total_tom',
           'DF_total_hol'
           ]

### API Calls (For Non-Merge)

In [16]:
# API call parameters
url = 'https://api.census.gov/data/2020/dec/dhc'
how = 'state:*'
where = 'county:*'

# Create an empty dictionary to store the data frames
dfs_A = {}

# Iterate through get_vars and df_vars simultaneously
for var, name in zip(get_vars_A, df_vars_A):
    r = requests.request('GET', url, params={"get": var, "for": where, "in": how, "key": key})

    # Check if the API call was successful
    if r.status_code == 200:
        data = r.json()

        # Create the data frame using the returned JSON data
        df_data = data[1:]  # Skip the first row which contains the column names
        dfs_A[name] = pd.DataFrame(df_data, columns=data[0])

        # Join 'state' and 'county' columns into a new column 'FIPS'
        dfs_A[name]['FIPS'] = dfs_A[name]['state'] + dfs_A[name]['county']

                # Convert specific columns to desired data types
        columns_to_convert = ['NAME', 'state', 'county', 'FIPS']
        columns_to_convert = [col for col in columns_to_convert if col in dfs_A[name].columns]
        dfs_A[name][columns_to_convert] = dfs_A[name][columns_to_convert].astype(str)
        dfs_A[name][dfs_A[name].columns.difference(columns_to_convert)] = dfs_A[name][dfs_A[name].columns.difference(columns_to_convert)].astype(int)

        # Display the created data frame
        print(f"Data frame '{name}':")
        print(dfs_A[name])
    else:
        # API call failed
        print(f"API call for '{var}' failed. Status code:", r.status_code)

Data frame 'DF_total_all':
                             NAME  PCT12_001N state county   FIPS
0        Bullitt County, Kentucky       82217    21    029  21029
1         Butler County, Kentucky       12371    21    031  21031
2       Caldwell County, Kentucky       12649    21    033  21033
3       Calloway County, Kentucky       37103    21    035  21035
4       Magoffin County, Kentucky       11637    21    153  21153
...                           ...         ...   ...    ...    ...
3216    Haywood County, Tennessee       17864    47    075  47075
3217  Henderson County, Tennessee       27842    47    077  47077
3218         Howard County, Texas       34860    48    227  48227
3219       Hudspeth County, Texas        3202    48    229  48229
3220           Hunt County, Texas       99956    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_whi':
                             NAME  PCT12A_001N state county   FIPS
0        Bullitt County, Kentucky        75417    21    029  21029
1         Butler County, Kentucky        11464    21    031  21031
2       Caldwell County, Kentucky        11244    21    033  21033
3       Calloway County, Kentucky        32626    21    035  21035
4       Magoffin County, Kentucky        11360    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee         7695    47    075  47075
3217  Henderson County, Tennessee        24079    47    077  47077
3218         Howard County, Texas        23664    48    227  48227
3219       Hudspeth County, Texas         1874    48    229  48229
3220           Hunt County, Texas        70576    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_baa':
                             NAME  PCT12B_001N state county   FIPS
0        Bullitt County, Kentucky         1045    21    029  21029
1         Butler County, Kentucky           15    21    031  21031
2       Caldwell County, Kentucky          674    21    033  21033
3       Calloway County, Kentucky         1313    21    035  21035
4       Magoffin County, Kentucky           14    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee         9032    47    075  47075
3217  Henderson County, Tennessee         1950    47    077  47077
3218         Howard County, Texas         1721    48    227  48227
3219       Hudspeth County, Texas           16    48    229  48229
3220           Hunt County, Texas         8014    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_aian':
                             NAME  PCT12C_001N state county   FIPS
0        Bullitt County, Kentucky          212    21    029  21029
1         Butler County, Kentucky           32    21    031  21031
2       Caldwell County, Kentucky           25    21    033  21033
3       Calloway County, Kentucky           64    21    035  21035
4       Magoffin County, Kentucky           14    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee           59    47    075  47075
3217  Henderson County, Tennessee           70    47    077  47077
3218         Howard County, Texas          404    48    227  48227
3219       Hudspeth County, Texas           39    48    229  48229
3220           Hunt County, Texas         1263    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_aa':
                             NAME  PCT12D_001N state county   FIPS
0        Bullitt County, Kentucky          451    21    029  21029
1         Butler County, Kentucky           23    21    031  21031
2       Caldwell County, Kentucky           56    21    033  21033
3       Calloway County, Kentucky          435    21    035  21035
4       Magoffin County, Kentucky            5    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee           26    47    075  47075
3217  Henderson County, Tennessee           93    47    077  47077
3218         Howard County, Texas          407    48    227  48227
3219       Hudspeth County, Texas           10    48    229  48229
3220           Hunt County, Texas         1016    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_nhop':
                             NAME  PCT12E_001N state county   FIPS
0        Bullitt County, Kentucky           25    21    029  21029
1         Butler County, Kentucky            3    21    031  21031
2       Caldwell County, Kentucky            2    21    033  21033
3       Calloway County, Kentucky           11    21    035  21035
4       Magoffin County, Kentucky            6    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee            9    47    075  47075
3217  Henderson County, Tennessee            2    47    077  47077
3218         Howard County, Texas           24    48    227  48227
3219       Hudspeth County, Texas            0    48    229  48229
3220           Hunt County, Texas          157    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_sor':
                             NAME  PCT12F_001N state county   FIPS
0        Bullitt County, Kentucky          738    21    029  21029
1         Butler County, Kentucky          407    21    031  21031
2       Caldwell County, Kentucky           70    21    033  21033
3       Calloway County, Kentucky          547    21    035  21035
4       Magoffin County, Kentucky           32    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee          524    47    075  47075
3217  Henderson County, Tennessee          354    47    077  47077
3218         Howard County, Texas         3770    48    227  48227
3219       Hudspeth County, Texas          622    48    229  48229
3220           Hunt County, Texas         7398    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_tom':
                             NAME  PCT12G_001N state county   FIPS
0        Bullitt County, Kentucky         4329    21    029  21029
1         Butler County, Kentucky          427    21    031  21031
2       Caldwell County, Kentucky          578    21    033  21033
3       Calloway County, Kentucky         2107    21    035  21035
4       Magoffin County, Kentucky          206    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee          519    47    075  47075
3217  Henderson County, Tennessee         1294    47    077  47077
3218         Howard County, Texas         4870    48    227  48227
3219       Hudspeth County, Texas          641    48    229  48229
3220           Hunt County, Texas        11532    48    231  48231

[3221 rows x 5 columns]
Data frame 'DF_total_hol':
                             NAME  PCT12H_001N state county   FIPS
0        Bullitt County, Kentucky         2117    21    029  21029
1         Butler County, Kentucky          592    21    031  21031
2       Caldwell County, Kentucky          198    21    033  21033
3       Calloway County, Kentucky         1353    21    035  21035
4       Magoffin County, Kentucky           66    21    153  21153
...                           ...          ...   ...    ...    ...
3216    Haywood County, Tennessee          838    47    075  47075
3217  Henderson County, Tennessee          719    47    077  47077
3218         Howard County, Texas        16174    48    227  48227
3219       Hudspeth County, Texas         2036    48    229  48229
3220           Hunt County, Texas        19673    48    231  48231

[3221 rows x 5 columns]

### Verify Pulls from API

I should have 9 Dataframes total.

- Dataframes should have:
    - Shape: 3221 rows, 5 columns

In [17]:
# Print the number of data frame names stored in dfs_A dictionary
print(f"Number of data frames: {len(dfs_A)}")

print("Data Frames in dfs_A:")
for name, df in dfs_A.items():
    # Get the shape of the data frame
    rows, cols = df.shape

    # Print the data frame name and shape
    print(f"Data frame '{name}':")
    print(f"Shape: {rows} rows, {cols} columns")

Number of data frames: 9
Data Frames in dfs_A:
Data frame 'DF_total_all':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_whi':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_baa':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_aian':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_aa':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_nhop':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_sor':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_tom':
Shape: 3221 rows, 5 columns
Data frame 'DF_total_hol':
Shape: 3221 rows, 5 columns

### Checking for data errors

I should find no missing data.

In [18]:
for df_name, df in dfs_A.items():
    # Find the rows with missing data
    rows_with_missing_data = df[df.isnull().any(axis=1)]

    # Find the columns with missing data
    columns_with_missing_data = df.columns[df.isnull().any()]

    # Check if there is missing data in the dataframe
    if not rows_with_missing_data.empty or len(columns_with_missing_data) > 0:
        print(f"Missing data found in DataFrame '{df_name}'")

        # Replace NaN values with string 'NaN'
        df = df.replace({np.nan: 'NaN'})

        # Print the rows with missing data
        print("Rows with missing data:")
        print(rows_with_missing_data)

        # Print the columns with missing data
        print("Columns with missing data:")
        print(columns_with_missing_data)
        print()

        # Search for 'NaN' string in the dataframe
        rows_with_nan_string = df[df.eq('NaN').any(axis=1)]
        columns_with_nan_string = df.columns[df.eq('NaN').any()]

        # Print the rows with 'NaN' string
        print("Rows with 'NaN' string:")
        print(rows_with_nan_string)

        # Print the columns with 'NaN' string
        print("Columns with 'NaN' string:")
        print(columns_with_nan_string)
        print()
    else:
        print(f"No missing data found in DataFrame '{df_name}'")

No missing data found in DataFrame 'DF_total_all'
No missing data found in DataFrame 'DF_total_whi'
No missing data found in DataFrame 'DF_total_baa'
No missing data found in DataFrame 'DF_total_aian'
No missing data found in DataFrame 'DF_total_aa'
No missing data found in DataFrame 'DF_total_nhop'
No missing data found in DataFrame 'DF_total_sor'
No missing data found in DataFrame 'DF_total_tom'
No missing data found in DataFrame 'DF_total_hol'

### Verify Content

selected dataframe from 'dfs_A' should have the following columns:<br>
>1 variable column with 4 constant columns:<br>
>['NAME','state','county','FIPS']<br>

In [19]:
df = dfs_A['DF_total_all']
# Print the columns
print("Columns of DF_total_all:")
for column in df.columns:
    print(column)

Columns of DF_total_all:
NAME
PCT12_001N
state
county
FIPS

### Modify Column Locations

Reindex columsn to share column structure with merged dataframes:<br>
>['NAME','state','county','FIPS']<br>

In [20]:
for name, df in dfs_A.items():
    columns = df.columns.tolist()
    columns[0], columns[1] = columns[1], columns[0]
    df = df.reindex(columns=columns)
    dfs_A[name] = df

In [21]:
df = dfs_A['DF_total_all']
# Print the columns
print("Columns of DF_total_all:")
for column in df.columns:
    print(column)

Columns of DF_total_all:
PCT12_001N
NAME
state
county
FIPS

### Changing Column Names

Column order of dataframes has been verified, changing column names to the <br>
dataframes in 'dfs_A'

In [22]:
col_names = ['Total','Location','State','County','FIPS']

# Iterate over the items in the 'dfs_A' dictionary
for item, df in dfs_A.items():
    df.columns = col_names  # Assign the new column names to the data frame in place
    dfs_A[item] = df  # Update the data frame in the 'dfs_A' dictionary

In [23]:
df = dfs_A['DF_total_all']
# Print the columns
print("Columns of DF_total_all:")
for column in df.columns:
    print(column)

Columns of DF_total_all:
Total
Location
State
County
FIPS

### Prepparing for Export

Gathering dataframes in 'merged_dfs' and 'dfs_A' into one variable for export to excel

In [24]:
df_export_prep =['DF_total_all','DF_male_all','DF_female_all','DF_total_whi',
            'DF_total_male_whi','DF_total_female_whi','DF_total_baa',
            'DF_total_male_baa','DF_total_female_baa','DF_total_aian',
            'DF_total_male_aian','DF_total_female_aian','DF_total_aa',
            'DF_total_male_aa','DF_total_female_aa','DF_total_nhop',
            'DF_total_male_nhop','DF_total_female_nhop','DF_total_sor',
            'DF_total_male_sor','DF_total_female_sor','DF_total_tom',
            'DF_total_male_tom','DF_total_female_tom','DF_total_hol',
            'DF_total_male_hol','DF_total_female_hol'
            ]

### Verifying location of dataframes

checking 'merged_dfs' and 'dfs_A' to verify dataframe location

In [25]:
# Print the names of the dataframes in 'merged_dfs'
print("Data Frames in 'merged_dfs':")
for name in merged_dfs.keys():
    print(name)

# Print the names of the dataframes in 'dfs_A'
print("\nData Frames in 'dfs_A':")
for name in dfs_A.keys():
    print(name)

Data Frames in 'merged_dfs':
DF_male_all
DF_female_all
DF_total_male_whi
DF_total_female_whi
DF_total_male_baa
DF_total_female_baa
DF_total_male_aian
DF_total_female_aian
DF_total_male_aa
DF_total_female_aa
DF_total_male_nhop
DF_total_female_nhop
DF_total_male_sor
DF_total_female_sor
DF_total_male_tom
DF_total_female_tom
DF_total_male_hol
DF_total_female_hol

Data Frames in 'dfs_A':
DF_total_all
DF_total_whi
DF_total_baa
DF_total_aian
DF_total_aa
DF_total_nhop
DF_total_sor
DF_total_tom
DF_total_hol

### Merging dictionaries to list

Merging 'merged_dfs' and 'dfs_A' using common keys from 'df_export_prep'.<br>
Naming dataframes to match names in ''df_export_prep' to ease sheet naming.

In [26]:
# Create an empty list to store the dataframes
df_export = []

# Iterate through the keys in df_export_prep
for key in df_export_prep:
    # Check if the key exists in merged_dfs or dfs_A
    if key in merged_dfs:
        # Assign the dataframe to df
        df = merged_dfs[key]
    elif key in dfs_A:
        # Assign the dataframe to df
        df = dfs_A[key]
    else:
        # Key not found in any dictionary
        print(f"Dataframe with key '{key}' not found in merged_dfs or dfs_A")
        continue

    # Set the dataframe name as the key
    df.name = key

    # Append the dataframe to df_export
    df_export.append(df)

### Final verification before export

verifying count, name, and shape before export.<br>
Should match planning doc:<br>
'2020_agesex.xlsx'

In [27]:
# List the name, shape, and count of dataframes in df_export
print(f"Total dataframes in df_export: {len(df_export)}")
print("Dataframes in df_export:")
for df in df_export:
    name = df.name if hasattr(df, 'name') else 'Unnamed'
    print(f"Name: '{name}', Shape: {df.shape}")

Total dataframes in df_export: 27
Dataframes in df_export:
Name: 'DF_total_all', Shape: (3221, 5)
Name: 'DF_male_all', Shape: (3221, 108)
Name: 'DF_female_all', Shape: (3221, 108)
Name: 'DF_total_whi', Shape: (3221, 5)
Name: 'DF_total_male_whi', Shape: (3221, 108)
Name: 'DF_total_female_whi', Shape: (3221, 108)
Name: 'DF_total_baa', Shape: (3221, 5)
Name: 'DF_total_male_baa', Shape: (3221, 108)
Name: 'DF_total_female_baa', Shape: (3221, 108)
Name: 'DF_total_aian', Shape: (3221, 5)
Name: 'DF_total_male_aian', Shape: (3221, 108)
Name: 'DF_total_female_aian', Shape: (3221, 108)
Name: 'DF_total_aa', Shape: (3221, 5)
Name: 'DF_total_male_aa', Shape: (3221, 108)
Name: 'DF_total_female_aa', Shape: (3221, 108)
Name: 'DF_total_nhop', Shape: (3221, 5)
Name: 'DF_total_male_nhop', Shape: (3221, 108)
Name: 'DF_total_female_nhop', Shape: (3221, 108)
Name: 'DF_total_sor', Shape: (3221, 5)
Name: 'DF_total_male_sor', Shape: (3221, 108)
Name: 'DF_total_female_sor', Shape: (3221, 108)
Name: 'DF_total_tom', Shape: (3221, 5)
Name: 'DF_total_male_tom', Shape: (3221, 108)
Name: 'DF_total_female_tom', Shape: (3221, 108)
Name: 'DF_total_hol', Shape: (3221, 5)
Name: 'DF_total_male_hol', Shape: (3221, 108)
Name: 'DF_total_female_hol', Shape: (3221, 108)

### Export to excel
Create workbook and export wanted dataframes to excel as individual sheets.

In [32]:
# Define the file name
file_name = '2020_agesex_data.xlsx'

# Get the file path in the current working directory
file_path = os.path.join(os.getcwd(), file_name)

# Check if the file exists
if os.path.exists(file_path):
   # Load the existing Excel file
    excel_file = pd.read_excel(file_path, engine='openpyxl')

    # Create a new ExcelWriter object using the existing file
    writer = pd.ExcelWriter(file_path, engine='openpyxl', if_sheet_exists = 'replace', mode= 'a')
    
    # Iterate through the dataframes in df_export
    for df in df_export:
        # Get the name of the dataframe
        name = df.name if hasattr(df, 'name') else 'Unnamed'
    
        # Write each dataframe to a separate sheet in the Excel file
        df.to_excel(writer, sheet_name=name, index=False)
    
    # Save the Excel file
    writer.close()

else:
    # Create a new workbook
    writer = pd.ExcelWriter(file_path, engine='openpyxl')
    
    # Iterate through the dataframes in df_export
    for df in df_export:
        # Get the name of the dataframe
        name = df.name if hasattr(df, 'name') else 'Unnamed'
    
        # Write each dataframe to a separate sheet in the Excel file
        df.to_excel(writer, sheet_name=name, index=False)
    
    # Save the Excel file
    writer.close()