# Economics - Data Pull

## Import Needed Libraries

In [9]:
import pandas as pd
import requests
import textwrap
from time import sleep
import json
import xlsxwriter
import os
from openpyxl import workbook, load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import numpy as np

## Setting 'Key'

In [10]:
user_id = 'F370C269-2ED6-4B10-A31A-0D0C0CC18B61'

## Variables for API Calls

Assigning all the variables for each call to a python variable to be inserterted in the 
API call as a string.

In [11]:
api_vars = ['10','45','70','110','120','150','180','190','220','230','240',
            '250','260','270','280','290','300','310'
            ]

| Line Code| :DataFrame:  | Line Description     |
|  :---  |      :---:        |             ---         |
| 10     |CAINC30_10 | Personal income (thousands of dollars)   |
| 45     |CAINC30_45 | Net earnings by place of residence      |
| 70     |CAINC30_70 | Unemployment insurance compensation      |
| 110    |CAINC30_110| Per capita personal income      |
| 120    |CAINC30_120| Per capita net earnings      |
| 150    |CAINC30_150| Per capita unemployment insurance compensation      |
| 180    |CAINC30_180| Earnings by place of work      |
| 190    |CAINC30_190| Wages and salaries       |
| 220    |CAINC30_220| Farm proprietors' income      |
| 230    |CAINC30_230| Nonfarm proprietors' income       |
| 240    |CAINC30_240| Total employment (number of jobs)      |
| 250    |CAINC30_250| Wage and salary employment       |
| 260    |CAINC30_260| Proprietors employment       |
| 270    |CAINC30_270| Farm proprietors employment      |
| 280    |CAINC30_280| Nonfarm proprietors employment       |
| 290    |CAINC30_290| Average earnings per job (dollars)       |
| 300    |CAINC30_300| Average wages and salaries       |
| 310    |CAINC30_310| Average nonfarm proprietors' income        |

### Dataframe names to assign

Assigning all the dataframe names to a list to itterate through to name dataframes created during the API calls

In [12]:
df_names = ['DF_CAINC30_10','DF_CAINC30_45','DF_CAINC30_70','DF_CAINC30_110',
            'DF_CAINC30_120','DF_CAINC30_150','DF_CAINC30_180',
            'DF_CAINC30_190','DF_CAINC30_220','DF_CAINC30_230',
            'DF_CAINC30_240','DF_CAINC30_250','DF_CAINC30_260',
            'DF_CAINC30_270','DF_CAINC30_280','DF_CAINC30_290',
            'DF_CAINC30_300','DF_CAINC30_310'
            ]

### API Calls

In [13]:
# API endpoint URL
url = "https://apps.bea.gov/api/data"

# API parameters
dataset = "Regional"
method = "GetData"
year = "2020"
table_code = "CAINC30"
geofips = "COUNTY"

# Iterate over the api_vars and df_names simultaneously
for line, name in zip(api_vars, df_names):
    # API request
    payload = {
        "UserID": user_id,
        "method": method,
        "datasetname": dataset,
        "TableName": table_code,
        "GeoFIPS": geofips,
        "Year": year,
        "LineCode": line
    }
    response = requests.get(url, params=payload)

    # Check if the API call was successful
    if response.status_code == 200:
        try:
            # Convert JSON response to pandas DataFrame
            json_data = response.json()
            data = json_data['BEAAPI']['Results']['Data']
            df = pd.DataFrame(data)

            df.drop(['Code', 'TimePeriod', 'UNIT_MULT', 'NoteRef'], axis=1, inplace=True)

            # Rename columns if needed
            df.rename(columns={'GeoFips': 'FIPS', 'GeoName': 'Location', 'DataValue': 'Value', 'CL_UNIT': 'Measure In'},
                      inplace=True)

            # Set appropriate data types
            df['FIPS'] = df['FIPS'].astype(str)
            df['Location'] = df['Location'].astype(str)
            df['Value'] = df['Value'].astype(str)
            df['Measure In'] = df['Measure In'].astype(str)

            # Assign the DataFrame to the specified name
            globals()[name] = df

            # Print the DataFrame
            print(f"DataFrame '{name}':")
            print(df)
            print()
        except KeyError:
            print("Unexpected JSON structure. Check API response.")
    else:
        # API call failed
        print(f"API call failed for line {line}. Status code:", response.status_code)

DataFrame 'DF_CAINC30_10':
       FIPS        Location            Measure In       Value
0     01001     Autauga, AL  Thousands of dollars   2,664,063
1     01003     Baldwin, AL  Thousands of dollars  11,971,269
2     01005     Barbour, AL  Thousands of dollars     934,683
3     01007        Bibb, AL  Thousands of dollars     768,870
4     01009      Blount, AL  Thousands of dollars   2,265,818
...     ...             ...                   ...         ...
3135  56037  Sweetwater, WY  Thousands of dollars   2,326,633
3136  56039       Teton, WY  Thousands of dollars   6,786,373
3137  56041       Uinta, WY  Thousands of dollars     872,914
3138  56043    Washakie, WY  Thousands of dollars     438,250
3139  56045      Weston, WY  Thousands of dollars     323,424

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_45':
       FIPS        Location            Measure In      Value
0     01001     Autauga, AL  Thousands of dollars  1,609,537
1     01003     Baldwin, AL  Thousands of dollars  6,487,647
2     01005     Barbour, AL  Thousands of dollars    439,335
3     01007        Bibb, AL  Thousands of dollars    425,922
4     01009      Blount, AL  Thousands of dollars  1,310,709
...     ...             ...                   ...        ...
3135  56037  Sweetwater, WY  Thousands of dollars  1,611,465
3136  56039       Teton, WY  Thousands of dollars  1,775,096
3137  56041       Uinta, WY  Thousands of dollars    524,110
3138  56043    Washakie, WY  Thousands of dollars    240,901
3139  56045      Weston, WY  Thousands of dollars    176,035

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_70':
       FIPS        Location            Measure In    Value
0     01001     Autauga, AL  Thousands of dollars   36,855
1     01003     Baldwin, AL  Thousands of dollars  158,069
2     01005     Barbour, AL  Thousands of dollars   17,625
3     01007        Bibb, AL  Thousands of dollars   16,725
4     01009      Blount, AL  Thousands of dollars   29,544
...     ...             ...                   ...      ...
3135  56037  Sweetwater, WY  Thousands of dollars   38,564
3136  56039       Teton, WY  Thousands of dollars   35,200
3137  56041       Uinta, WY  Thousands of dollars   12,242
3138  56043    Washakie, WY  Thousands of dollars    4,064
3139  56045      Weston, WY  Thousands of dollars    2,981

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_110':
       FIPS        Location Measure In    Value
0     01001     Autauga, AL    Dollars   45,248
1     01003     Baldwin, AL    Dollars   51,348
2     01005     Barbour, AL    Dollars   37,120
3     01007        Bibb, AL    Dollars   34,598
4     01009      Blount, AL    Dollars   38,351
...     ...             ...        ...      ...
3135  56037  Sweetwater, WY    Dollars   55,188
3136  56039       Teton, WY    Dollars  290,674
3137  56041       Uinta, WY    Dollars   42,704
3138  56043    Washakie, WY    Dollars   57,228
3139  56045      Weston, WY    Dollars   47,499

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_120':
       FIPS        Location Measure In   Value
0     01001     Autauga, AL    Dollars  27,337
1     01003     Baldwin, AL    Dollars  27,827
2     01005     Barbour, AL    Dollars  17,448
3     01007        Bibb, AL    Dollars  19,166
4     01009      Blount, AL    Dollars  22,185
...     ...             ...        ...     ...
3135  56037  Sweetwater, WY    Dollars  38,224
3136  56039       Teton, WY    Dollars  76,031
3137  56041       Uinta, WY    Dollars  25,640
3138  56043    Washakie, WY    Dollars  31,457
3139  56045      Weston, WY    Dollars  25,853

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_150':
       FIPS        Location Measure In  Value
0     01001     Autauga, AL    Dollars    626
1     01003     Baldwin, AL    Dollars    678
2     01005     Barbour, AL    Dollars    700
3     01007        Bibb, AL    Dollars    753
4     01009      Blount, AL    Dollars    500
...     ...             ...        ...    ...
3135  56037  Sweetwater, WY    Dollars    915
3136  56039       Teton, WY    Dollars  1,508
3137  56041       Uinta, WY    Dollars    599
3138  56043    Washakie, WY    Dollars    531
3139  56045      Weston, WY    Dollars    438

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_180':
       FIPS        Location            Measure In      Value
0     01001     Autauga, AL  Thousands of dollars    775,004
1     01003     Baldwin, AL  Thousands of dollars  4,897,529
2     01005     Barbour, AL  Thousands of dollars    489,050
3     01007        Bibb, AL  Thousands of dollars    327,544
4     01009      Blount, AL  Thousands of dollars    569,967
...     ...             ...                   ...        ...
3135  56037  Sweetwater, WY  Thousands of dollars  1,971,014
3136  56039       Teton, WY  Thousands of dollars  2,123,611
3137  56041       Uinta, WY  Thousands of dollars    537,647
3138  56043    Washakie, WY  Thousands of dollars    282,915
3139  56045      Weston, WY  Thousands of dollars    175,786

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_190':
       FIPS        Location            Measure In      Value
0     01001     Autauga, AL  Thousands of dollars    531,274
1     01003     Baldwin, AL  Thousands of dollars  3,370,303
2     01005     Barbour, AL  Thousands of dollars    346,729
3     01007        Bibb, AL  Thousands of dollars    238,533
4     01009      Blount, AL  Thousands of dollars    365,260
...     ...             ...                   ...        ...
3135  56037  Sweetwater, WY  Thousands of dollars  1,286,154
3136  56039       Teton, WY  Thousands of dollars  1,241,539
3137  56041       Uinta, WY  Thousands of dollars    371,981
3138  56043    Washakie, WY  Thousands of dollars    168,169
3139  56045      Weston, WY  Thousands of dollars    115,587

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_220':
       FIPS        Location            Measure In   Value
0     01001     Autauga, AL  Thousands of dollars  11,323
1     01003     Baldwin, AL  Thousands of dollars  11,200
2     01005     Barbour, AL  Thousands of dollars   6,854
3     01007        Bibb, AL  Thousands of dollars     201
4     01009      Blount, AL  Thousands of dollars   2,519
...     ...             ...                   ...     ...
3135  56037  Sweetwater, WY  Thousands of dollars  12,223
3136  56039       Teton, WY  Thousands of dollars    -198
3137  56041       Uinta, WY  Thousands of dollars   2,912
3138  56043    Washakie, WY  Thousands of dollars   3,123
3139  56045      Weston, WY  Thousands of dollars  -3,758

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_230':
       FIPS        Location            Measure In    Value
0     01001     Autauga, AL  Thousands of dollars  103,774
1     01003     Baldwin, AL  Thousands of dollars  764,716
2     01005     Barbour, AL  Thousands of dollars   43,268
3     01007        Bibb, AL  Thousands of dollars   28,474
4     01009      Blount, AL  Thousands of dollars  108,021
...     ...             ...                   ...      ...
3135  56037  Sweetwater, WY  Thousands of dollars  342,178
3136  56039       Teton, WY  Thousands of dollars  642,254
3137  56041       Uinta, WY  Thousands of dollars   54,077
3138  56043    Washakie, WY  Thousands of dollars   62,560
3139  56045      Weston, WY  Thousands of dollars   24,451

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_240':
       FIPS        Location      Measure In    Value
0     01001     Autauga, AL  Number of jobs   18,610
1     01003     Baldwin, AL  Number of jobs  117,257
2     01005     Barbour, AL  Number of jobs   11,641
3     01007        Bibb, AL  Number of jobs    6,995
4     01009      Blount, AL  Number of jobs   15,719
...     ...             ...             ...      ...
3135  56037  Sweetwater, WY  Number of jobs   25,683
3136  56039       Teton, WY  Number of jobs   33,081
3137  56041       Uinta, WY  Number of jobs   11,488
3138  56043    Washakie, WY  Number of jobs    5,079
3139  56045      Weston, WY  Number of jobs    3,917

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_250':
       FIPS        Location      Measure In   Value
0     01001     Autauga, AL  Number of jobs  12,247
1     01003     Baldwin, AL  Number of jobs  80,210
2     01005     Barbour, AL  Number of jobs   8,571
3     01007        Bibb, AL  Number of jobs   5,139
4     01009      Blount, AL  Number of jobs   9,622
...     ...             ...             ...     ...
3135  56037  Sweetwater, WY  Number of jobs  21,275
3136  56039       Teton, WY  Number of jobs  19,821
3137  56041       Uinta, WY  Number of jobs   8,373
3138  56043    Washakie, WY  Number of jobs   3,665
3139  56045      Weston, WY  Number of jobs   2,460

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_260':
       FIPS        Location      Measure In   Value
0     01001     Autauga, AL  Number of jobs   6,363
1     01003     Baldwin, AL  Number of jobs  37,047
2     01005     Barbour, AL  Number of jobs   3,070
3     01007        Bibb, AL  Number of jobs   1,856
4     01009      Blount, AL  Number of jobs   6,097
...     ...             ...             ...     ...
3135  56037  Sweetwater, WY  Number of jobs   4,408
3136  56039       Teton, WY  Number of jobs  13,260
3137  56041       Uinta, WY  Number of jobs   3,115
3138  56043    Washakie, WY  Number of jobs   1,414
3139  56045      Weston, WY  Number of jobs   1,457

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_270':
       FIPS        Location      Measure In Value
0     01001     Autauga, AL  Number of jobs   316
1     01003     Baldwin, AL  Number of jobs   752
2     01005     Barbour, AL  Number of jobs   441
3     01007        Bibb, AL  Number of jobs   142
4     01009      Blount, AL  Number of jobs   996
...     ...             ...             ...   ...
3135  56037  Sweetwater, WY  Number of jobs   232
3136  56039       Teton, WY  Number of jobs   146
3137  56041       Uinta, WY  Number of jobs   296
3138  56043    Washakie, WY  Number of jobs   188
3139  56045      Weston, WY  Number of jobs   247

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_280':
       FIPS        Location      Measure In   Value
0     01001     Autauga, AL  Number of jobs   6,047
1     01003     Baldwin, AL  Number of jobs  36,295
2     01005     Barbour, AL  Number of jobs   2,629
3     01007        Bibb, AL  Number of jobs   1,714
4     01009      Blount, AL  Number of jobs   5,101
...     ...             ...             ...     ...
3135  56037  Sweetwater, WY  Number of jobs   4,176
3136  56039       Teton, WY  Number of jobs  13,114
3137  56041       Uinta, WY  Number of jobs   2,819
3138  56043    Washakie, WY  Number of jobs   1,226
3139  56045      Weston, WY  Number of jobs   1,210

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_290':
       FIPS        Location Measure In   Value
0     01001     Autauga, AL    Dollars  41,644
1     01003     Baldwin, AL    Dollars  41,767
2     01005     Barbour, AL    Dollars  42,011
3     01007        Bibb, AL    Dollars  46,825
4     01009      Blount, AL    Dollars  36,260
...     ...             ...        ...     ...
3135  56037  Sweetwater, WY    Dollars  76,744
3136  56039       Teton, WY    Dollars  64,194
3137  56041       Uinta, WY    Dollars  46,801
3138  56043    Washakie, WY    Dollars  55,703
3139  56045      Weston, WY    Dollars  44,878

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_300':
       FIPS        Location Measure In   Value
0     01001     Autauga, AL    Dollars  43,380
1     01003     Baldwin, AL    Dollars  42,018
2     01005     Barbour, AL    Dollars  40,454
3     01007        Bibb, AL    Dollars  46,416
4     01009      Blount, AL    Dollars  37,961
...     ...             ...        ...     ...
3135  56037  Sweetwater, WY    Dollars  60,454
3136  56039       Teton, WY    Dollars  62,638
3137  56041       Uinta, WY    Dollars  44,426
3138  56043    Washakie, WY    Dollars  45,885
3139  56045      Weston, WY    Dollars  46,987

[3140 rows x 4 columns]

DataFrame 'DF_CAINC30_310':
       FIPS        Location Measure In   Value
0     01001     Autauga, AL    Dollars  17,161
1     01003     Baldwin, AL    Dollars  21,069
2     01005     Barbour, AL    Dollars  16,458
3     01007        Bibb, AL    Dollars  16,613
4     01009      Blount, AL    Dollars  21,176
...     ...             ...        ...     ...
3135  56037  Sweetwater, WY    Dollars  81,939
3136  56039       Teton, WY    Dollars  48,975
3137  56041       Uinta, WY    Dollars  19,183
3138  56043    Washakie, WY    Dollars  51,028
3139  56045      Weston, WY    Dollars  20,207

[3140 rows x 4 columns]

### Verify Pulls from API

I should have 18 Dataframes total.

- Dataframes ending in _0 should have:
    - Shape: 3140 rows, 4 columns

In [14]:
# Print the number of dataframes in df_names
print(f"Number of dataframes: {len(df_names)}")

print("Dataframes in df_names:")
for idx, name in enumerate(df_names):
    # Access the dataframe by name
    df = globals()[name]

    # Get the shape of the dataframe
    rows, cols = df.shape

    # Print the dataframe name and shape
    print(f"Dataframe '{name}':")
    print(f"Shape: {rows} rows, {cols} columns")

Number of dataframes: 18
Dataframes in df_names:
Dataframe 'DF_CAINC30_10':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_45':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_70':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_110':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_120':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_150':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_180':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_190':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_220':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_230':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_240':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_250':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_260':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_270':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_280':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_290':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_300':
Shape: 3140 rows, 4 columns
Dataframe 'DF_CAINC30_310':
Shape: 3140 rows, 4 columns

### Checking for data errors

I should find no missing data.

In [15]:
for df_name in df_names:
    # Access the dataframe by name
    df = globals()[df_name]

    # Find the rows with missing data
    rows_with_missing_data = df[df.isnull().any(axis=1)]

    # Find the columns with missing data
    columns_with_missing_data = df.columns[df.isnull().any()]

    # Check if there is missing data in the dataframe
    if not rows_with_missing_data.empty or len(columns_with_missing_data) > 0:
        print(f"Missing data found in DataFrame '{df_name}'")

        # Replace NaN values with string 'NaN'
        df = df.replace({np.nan: 'NaN'})

        # Print the rows with missing data
        print("Rows with missing data:")
        print(rows_with_missing_data)

        # Print the columns with missing data
        print("Columns with missing data:")
        print(columns_with_missing_data)
        print()

        # Search for 'NaN' string in the dataframe
        rows_with_nan_string = df[df.eq('NaN').any(axis=1)]
        columns_with_nan_string = df.columns[df.eq('NaN').any()]

        # Print the rows with 'NaN' string
        print("Rows with 'NaN' string:")
        print(rows_with_nan_string)

        # Print the columns with 'NaN' string
        print("Columns with 'NaN' string:")
        print(columns_with_nan_string)
        print()
    else:
        print(f"No missing data found in DataFrame '{df_name}'")

No missing data found in DataFrame 'DF_CAINC30_10'
No missing data found in DataFrame 'DF_CAINC30_45'
No missing data found in DataFrame 'DF_CAINC30_70'
No missing data found in DataFrame 'DF_CAINC30_110'
No missing data found in DataFrame 'DF_CAINC30_120'
No missing data found in DataFrame 'DF_CAINC30_150'
No missing data found in DataFrame 'DF_CAINC30_180'
No missing data found in DataFrame 'DF_CAINC30_190'
No missing data found in DataFrame 'DF_CAINC30_220'
No missing data found in DataFrame 'DF_CAINC30_230'
No missing data found in DataFrame 'DF_CAINC30_240'
No missing data found in DataFrame 'DF_CAINC30_250'
No missing data found in DataFrame 'DF_CAINC30_260'
No missing data found in DataFrame 'DF_CAINC30_270'
No missing data found in DataFrame 'DF_CAINC30_280'
No missing data found in DataFrame 'DF_CAINC30_290'
No missing data found in DataFrame 'DF_CAINC30_300'
No missing data found in DataFrame 'DF_CAINC30_310'

### Export to excel
Create workbook and export wanted dataframes to excel as individual sheets.

In [18]:
# Define the file name
file_name = '2020_econ_data.xlsx'

# Get the file path in the current working directory
file_path = os.path.join(os.getcwd(), file_name)

# Check if the file exists
if os.path.exists(file_path):
    # Load the existing Excel file
    excel_file = pd.read_excel(file_path, engine='openpyxl')
    
    # Create a new ExcelWriter object using the existing file
    writer = pd.ExcelWriter(file_path, engine='openpyxl', if_sheet_exists = 'replace', mode= 'a')

    # Iterate through the dataframes in dfs
    for df_name, df in globals().items():
        # Check if the object is a DataFrame
        if isinstance(df, pd.DataFrame):
            # Check if the sheet already exists in the Excel file
            if df_name in writer.book.sheetnames:
                # Remove the existing sheet
                writer.book.remove(writer.book[df_name])
            
            # Write the dataframe to a separate sheet in the Excel file
            df.to_excel(writer, sheet_name=df_name, index=False)
    # Save and close the workbook
    writer.close()

else:
    # Create a new workbook
    writer = pd.ExcelWriter(file_path, engine='openpyxl')
    
    # Iterate through the dataframes in dfs
    for df_name, df in globals().items():
        # Check if the object is a DataFrame
        if isinstance(df, pd.DataFrame):
            # Write each dataframe to a separate sheet in the Excel file
            df.to_excel(writer, sheet_name=df_name, index=False)

    # Save and close the workbook
    writer.close()